<h3><center>Baseline Lucidity Assessment</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Strongly<br>disagree</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Strongly<br>agree</th>
    </tr>
    <tr>
        <td align=left>I can usually remember my dreams.</td>
        <td><input type="radio" name="BLA01" value="1"></td>
        <td><input type="radio" name="BLA01" value="2"></td>
        <td><input type="radio" name="BLA01" value="3"></td>
        <td><input type="radio" name="BLA01" value="4"></td>
        <td><input type="radio" name="BLA01" value="5"></td>
    </tr>
    <tr>
        <td align=left>My dreams have a lot of detail that I can often remember.</td>
        <td><input type="radio" name="BLA02" value="1"></td>
        <td><input type="radio" name="BLA02" value="2"></td>
        <td><input type="radio" name="BLA02" value="3"></td>
        <td><input type="radio" name="BLA02" value="4"></td>
        <td><input type="radio" name="BLA02" value="5"></td>
    </tr>
    <tr>
        <td align=left>Sometimes I can tell that I am dreaming during a dream.</td>
        <td><input type="radio" name="BLA03" value="1"></td>
        <td><input type="radio" name="BLA03" value="2"></td>
        <td><input type="radio" name="BLA03" value="3"></td>
        <td><input type="radio" name="BLA03" value="4"></td>
        <td><input type="radio" name="BLA03" value="5"></td>
    </tr>
    <tr>
        <td align=left>Sometimes I can control what happens in my dreams.</td>
        <td><input type="radio" name="BLA04" value="1"></td>
        <td><input type="radio" name="BLA04" value="2"></td>
        <td><input type="radio" name="BLA04" value="3"></td>
        <td><input type="radio" name="BLA04" value="4"></td>
        <td><input type="radio" name="BLA04" value="5"></td>
    </tr>
    <tr>
        <td align=left>Sometimes I can dream about things that I have decided I want to dream about.</td>
        <td><input type="radio" name="BLA05" value="1"></td>
        <td><input type="radio" name="BLA05" value="2"></td>
        <td><input type="radio" name="BLA05" value="3"></td>
        <td><input type="radio" name="BLA05" value="4"></td>
        <td><input type="radio" name="BLA05" value="5"></td>
    </tr>
</table>