<h3><center>Dream Lucidity Questionnaire</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Not at<br>all</th>
        <th>Just a<br>little</th>
        <th>Moderately</th>
        <th>Pretty<br>much</th>
        <th>Very<br>much</th>
        <th>n/a</th>
    </tr>
    <tr>
        <td align=left>I was aware that I was dreaming.</td>
        <td><input type="radio" name="DLQ01" value="0"></td>
        <td><input type="radio" name="DLQ01" value="1"></td>
        <td><input type="radio" name="DLQ01" value="2"></td>
        <td><input type="radio" name="DLQ01" value="3"></td>
        <td><input type="radio" name="DLQ01" value="4"></td>
        <td><input type="checkbox" name="DLQ01na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I was aware that my physical body was asleep.</td>
        <td><input type="radio" name="DLQ02" value="0"></td>
        <td><input type="radio" name="DLQ02" value="1"></td>
        <td><input type="radio" name="DLQ02" value="2"></td>
        <td><input type="radio" name="DLQ02" value="3"></td>
        <td><input type="radio" name="DLQ02" value="4"></td>
        <td><input type="checkbox" name="DLQ02na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I was aware that all my dream characters were not real people.</td>
        <td><input type="radio" name="DLQ03" value="0"></td>
        <td><input type="radio" name="DLQ03" value="1"></td>
        <td><input type="radio" name="DLQ03" value="2"></td>
        <td><input type="radio" name="DLQ03" value="3"></td>
        <td><input type="radio" name="DLQ03" value="4"></td>
        <td><input type="checkbox" name="DLQ03na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I deliberately chose one action instead of the other.</td>
        <td><input type="radio" name="DLQ04" value="0"></td>
        <td><input type="radio" name="DLQ04" value="1"></td>
        <td><input type="radio" name="DLQ04" value="2"></td>
        <td><input type="radio" name="DLQ04" value="3"></td>
        <td><input type="radio" name="DLQ04" value="4"></td>
        <td><input type="checkbox" name="DLQ04na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I was aware that all dream objects were not real.</td>
        <td><input type="radio" name="DLQ05" value="0"></td>
        <td><input type="radio" name="DLQ05" value="1"></td>
        <td><input type="radio" name="DLQ05" value="2"></td>
        <td><input type="radio" name="DLQ05" value="3"></td>
        <td><input type="radio" name="DLQ05" value="4"></td>
        <td><input type="checkbox" name="DLQ05na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I changed dream events in the way I wanted.</td>
        <td><input type="radio" name="DLQ06" value="0"></td>
        <td><input type="radio" name="DLQ06" value="1"></td>
        <td><input type="radio" name="DLQ06" value="2"></td>
        <td><input type="radio" name="DLQ06" value="3"></td>
        <td><input type="radio" name="DLQ06" value="4"></td>
        <td><input type="checkbox" name="DLQ06na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I recalled some facts or episodes from my waking life.</td>
        <td><input type="radio" name="DLQ07" value="0"></td>
        <td><input type="radio" name="DLQ07" value="1"></td>
        <td><input type="radio" name="DLQ07" value="2"></td>
        <td><input type="radio" name="DLQ07" value="3"></td>
        <td><input type="radio" name="DLQ07" value="4"></td>
        <td><input type="checkbox" name="DLQ07na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I changed dream characters in the way I wanted.</td>
        <td><input type="radio" name="DLQ08" value="0"></td>
        <td><input type="radio" name="DLQ08" value="1"></td>
        <td><input type="radio" name="DLQ08" value="2"></td>
        <td><input type="radio" name="DLQ08" value="3"></td>
        <td><input type="radio" name="DLQ08" value="4"></td>
        <td><input type="checkbox" name="DLQ08na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I broke the physical laws of the waking reality (e.g., flew, went through a wall).</td>
        <td><input type="radio" name="DLQ09" value="0"></td>
        <td><input type="radio" name="DLQ09" value="1"></td>
        <td><input type="radio" name="DLQ09" value="2"></td>
        <td><input type="radio" name="DLQ09" value="3"></td>
        <td><input type="radio" name="DLQ09" value="4"></td>
        <td><input type="checkbox" name="DLQ09na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I changed the dream scene in the way I wanted.</td>
        <td><input type="radio" name="DLQ10" value="0"></td>
        <td><input type="radio" name="DLQ10" value="1"></td>
        <td><input type="radio" name="DLQ10" value="2"></td>
        <td><input type="radio" name="DLQ10" value="3"></td>
        <td><input type="radio" name="DLQ10" value="4"></td>
        <td><input type="checkbox" name="DLQ10na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I thought about different possibilities of what can I do in a dream.</td>
        <td><input type="radio" name="DLQ11" value="0"></td>
        <td><input type="radio" name="DLQ11" value="1"></td>
        <td><input type="radio" name="DLQ11" value="2"></td>
        <td><input type="radio" name="DLQ11" value="3"></td>
        <td><input type="radio" name="DLQ11" value="4"></td>
        <td><input type="checkbox" name="DLQ11na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I clearly remembered my intentions what I wanted to do in a lucid dream.</td>
        <td><input type="radio" name="DLQ12" value="0"></td>
        <td><input type="radio" name="DLQ12" value="1"></td>
        <td><input type="radio" name="DLQ12" value="2"></td>
        <td><input type="radio" name="DLQ12" value="3"></td>
        <td><input type="radio" name="DLQ12" value="4"></td>
        <td><input type="checkbox" name="DLQ12na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I was sure that events in my dream would not affect reality.</td>
        <td><input type="radio" name="DLQ13" value="0"></td>
        <td><input type="radio" name="DLQ13" value="1"></td>
        <td><input type="radio" name="DLQ13" value="2"></td>
        <td><input type="radio" name="DLQ13" value="3"></td>
        <td><input type="radio" name="DLQ13" value="4"></td>
        <td><input type="checkbox" name="DLQ13na" value="1"></td>
    </tr>
</table>