<h3><center>LuCiD scale</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Strongly<br>disagree</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Strongly<br>agree</th>
        <th>n/a</th>
    </tr>
    <tr>
        <td align=left>While dreaming, I was aware of the fact that the things I was experiencing in the dream were not real.</td>
        <td><input type="radio" name="LuCiD01" value="0" checked></td>
        <td><input type="radio" name="LuCiD01" value="1"></td>
        <td><input type="radio" name="LuCiD01" value="2"></td>
        <td><input type="radio" name="LuCiD01" value="3"></td>
        <td><input type="radio" name="LuCiD01" value="4"></td>
        <td><input type="radio" name="LuCiD01" value="5"></td>
        <td><input type="checkbox" name="LuCiD01na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was able to remember my intention to do certain things in the dream.</td>
        <td><input type="radio" name="LuCiD02" value="0" checked></td>
        <td><input type="radio" name="LuCiD02" value="1"></td>
        <td><input type="radio" name="LuCiD02" value="2"></td>
        <td><input type="radio" name="LuCiD02" value="3"></td>
        <td><input type="radio" name="LuCiD02" value="4"></td>
        <td><input type="radio" name="LuCiD02" value="5"></td>
        <td><input type="checkbox" name="LuCiD02na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was aware that the self I experienced in my dream wasn't the same as my waking self.</td>
        <td><input type="radio" name="LuCiD03" value="0" checked></td>
        <td><input type="radio" name="LuCiD03" value="1"></td>
        <td><input type="radio" name="LuCiD03" value="2"></td>
        <td><input type="radio" name="LuCiD03" value="3"></td>
        <td><input type="radio" name="LuCiD03" value="4"></td>
        <td><input type="radio" name="LuCiD03" value="5"></td>
        <td><input type="checkbox" name="LuCiD03na" value="1"></td>
    </tr>
    <tr>
        <td align=left>In my dream, I was able to manipulate or control other dream characters in a way that would be impossible in waking.</td>
        <td><input type="radio" name="LuCiD04" value="0" checked></td>
        <td><input type="radio" name="LuCiD04" value="1"></td>
        <td><input type="radio" name="LuCiD04" value="2"></td>
        <td><input type="radio" name="LuCiD04" value="3"></td>
        <td><input type="radio" name="LuCiD04" value="4"></td>
        <td><input type="radio" name="LuCiD04" value="5"></td>
        <td><input type="checkbox" name="LuCiD04na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I thought about other dream characters.</td>
        <td><input type="radio" name="LuCiD05" value="0" checked></td>
        <td><input type="radio" name="LuCiD05" value="1"></td>
        <td><input type="radio" name="LuCiD05" value="2"></td>
        <td><input type="radio" name="LuCiD05" value="3"></td>
        <td><input type="radio" name="LuCiD05" value="4"></td>
        <td><input type="radio" name="LuCiD05" value="5"></td>
        <td><input type="checkbox" name="LuCiD05na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was able to successfully perform supernatural actions (like flying or passing through walls).</td>
        <td><input type="radio" name="LuCiD06" value="0" checked></td>
        <td><input type="radio" name="LuCiD06" value="1"></td>
        <td><input type="radio" name="LuCiD06" value="2"></td>
        <td><input type="radio" name="LuCiD06" value="3"></td>
        <td><input type="radio" name="LuCiD06" value="4"></td>
        <td><input type="radio" name="LuCiD06" value="5"></td>
        <td><input type="checkbox" name="LuCiD6na" value="1"></td>
    </tr>
    <tr>
        <td align=left>The emotions I experienced in my dream were exactly the same as those I would experience in such a situation during wakefulness.</td>
        <td><input type="radio" name="LuCiD07" value="0" checked></td>
        <td><input type="radio" name="LuCiD07" value="1"></td>
        <td><input type="radio" name="LuCiD07" value="2"></td>
        <td><input type="radio" name="LuCiD07" value="3"></td>
        <td><input type="radio" name="LuCiD07" value="4"></td>
        <td><input type="radio" name="LuCiD07" value="5"></td>
        <td><input type="checkbox" name="LuCiD07na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was aware of the fact that the body I experienced in the dream did not correspond to my real sleeping body.</td>
        <td><input type="radio" name="LuCiD08" value="0" checked></td>
        <td><input type="radio" name="LuCiD08" value="1"></td>
        <td><input type="radio" name="LuCiD08" value="2"></td>
        <td><input type="radio" name="LuCiD08" value="3"></td>
        <td><input type="radio" name="LuCiD08" value="4"></td>
        <td><input type="radio" name="LuCiD08" value="5"></td>
        <td><input type="checkbox" name="LuCiD08na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I was very certain that the things I was experiencing in my dream wouldn't have any consequences on the real world.</td>
        <td><input type="radio" name="LuCiD09" value="0" checked></td>
        <td><input type="radio" name="LuCiD09" value="1"></td>
        <td><input type="radio" name="LuCiD09" value="2"></td>
        <td><input type="radio" name="LuCiD09" value="3"></td>
        <td><input type="radio" name="LuCiD09" value="4"></td>
        <td><input type="radio" name="LuCiD09" value="5"></td>
        <td><input type="checkbox" name="LuCiD09na" value="1"></td>
    </tr>

    <tr>
        <td align=left>While dreaming, I was able to successfully control or change the dream environment in a way that would be impossible during wakefulness.</td>
        <td><input type="radio" name="LuCiD10" value="0" checked></td>
        <td><input type="radio" name="LuCiD10" value="1"></td>
        <td><input type="radio" name="LuCiD10" value="2"></td>
        <td><input type="radio" name="LuCiD10" value="3"></td>
        <td><input type="radio" name="LuCiD10" value="4"></td>
        <td><input type="radio" name="LuCiD10" value="5"></td>
        <td><input type="checkbox" name="LuCiD10na" value="1"></td>
    </tr>

    <tr>
        <td align=left>While dreaming, I was myself from the outside.</td>
        <td><input type="radio" name="LuCiD11" value="0" checked></td>
        <td><input type="radio" name="LuCiD11" value="1"></td>
        <td><input type="radio" name="LuCiD11" value="2"></td>
        <td><input type="radio" name="LuCiD11" value="3"></td>
        <td><input type="radio" name="LuCiD11" value="4"></td>
        <td><input type="radio" name="LuCiD11" value="5"></td>
        <td><input type="checkbox" name="LuCiD11na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I thought about my own actions.</td>
        <td><input type="radio" name="LuCiD12" value="0" checked></td>
        <td><input type="radio" name="LuCiD12" value="1"></td>
        <td><input type="radio" name="LuCiD12" value="2"></td>
        <td><input type="radio" name="LuCiD12" value="3"></td>
        <td><input type="radio" name="LuCiD12" value="4"></td>
        <td><input type="radio" name="LuCiD12" value="5"></td>
        <td><input type="checkbox" name="LuCiD12na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I had the feeling that I had forgotten something important.</td>
        <td><input type="radio" name="LuCiD13" value="0" checked></td>
        <td><input type="radio" name="LuCiD13" value="1"></td>
        <td><input type="radio" name="LuCiD13" value="2"></td>
        <td><input type="radio" name="LuCiD13" value="3"></td>
        <td><input type="radio" name="LuCiD13" value="4"></td>
        <td><input type="radio" name="LuCiD13" value="5"></td>
        <td><input type="checkbox" name="LuCiD13na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was able to change or move objects (not persons) in a way that would be impossible in waking.</td>
        <td><input type="radio" name="LuCiD14" value="0" checked></td>
        <td><input type="radio" name="LuCiD14" value="1"></td>
        <td><input type="radio" name="LuCiD14" value="2"></td>
        <td><input type="radio" name="LuCiD14" value="3"></td>
        <td><input type="radio" name="LuCiD14" value="4"></td>
        <td><input type="radio" name="LuCiD14" value="5"></td>
        <td><input type="checkbox" name="LuCiD14na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was not myself but a completely different person.</td>
        <td><input type="radio" name="LuCiD15" value="0" checked></td>
        <td><input type="radio" name="LuCiD15" value="1"></td>
        <td><input type="radio" name="LuCiD15" value="2"></td>
        <td><input type="radio" name="LuCiD15" value="3"></td>
        <td><input type="radio" name="LuCiD15" value="4"></td>
        <td><input type="radio" name="LuCiD15" value="5"></td>
        <td><input type="checkbox" name="LuCiD15na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I often asked myself whether I was dreaming.</td>
        <td><input type="radio" name="LuCiD16" value="0" checked></td>
        <td><input type="radio" name="LuCiD16" value="1"></td>
        <td><input type="radio" name="LuCiD16" value="2"></td>
        <td><input type="radio" name="LuCiD16" value="3"></td>
        <td><input type="radio" name="LuCiD16" value="4"></td>
        <td><input type="radio" name="LuCiD16" value="5"></td>
        <td><input type="checkbox" name="LuCiD16na" value="1"></td>
    </tr>
    <tr>
        <td align=left>The thoughts I had in my dream were exactly the same as I would have in a similar situation during wakefulness.</td>
        <td><input type="radio" name="LuCiD17" value="0" checked></td>
        <td><input type="radio" name="LuCiD17" value="1"></td>
        <td><input type="radio" name="LuCiD17" value="2"></td>
        <td><input type="radio" name="LuCiD17" value="3"></td>
        <td><input type="radio" name="LuCiD17" value="4"></td>
        <td><input type="radio" name="LuCiD17" value="5"></td>
        <td><input type="checkbox" name="LuCiD17na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I had the feeling that I could remember my waking life.</td>
        <td><input type="radio" name="LuCiD18" value="0" checked></td>
        <td><input type="radio" name="LuCiD18" value="1"></td>
        <td><input type="radio" name="LuCiD18" value="2"></td>
        <td><input type="radio" name="LuCiD18" value="3"></td>
        <td><input type="radio" name="LuCiD18" value="4"></td>
        <td><input type="radio" name="LuCiD18" value="5"></td>
        <td><input type="checkbox" name="LuCiD18na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was aware of the fact that other dream characters in my dream were not real.</td>
        <td><input type="radio" name="LuCiD19" value="0" checked></td>
        <td><input type="radio" name="LuCiD19" value="1"></td>
        <td><input type="radio" name="LuCiD19" value="2"></td>
        <td><input type="radio" name="LuCiD19" value="3"></td>
        <td><input type="radio" name="LuCiD19" value="4"></td>
        <td><input type="radio" name="LuCiD19" value="5"></td>
        <td><input type="checkbox" name="LuCiD19na" value="1"></td>
    </tr>
    <tr>
        <td align=left>Most things that happened in my dream could have also happened during wakefulness.</td>
        <td><input type="radio" name="LuCiD20" value="0" checked></td>
        <td><input type="radio" name="LuCiD20" value="1"></td>
        <td><input type="radio" name="LuCiD20" value="2"></td>
        <td><input type="radio" name="LuCiD20" value="3"></td>
        <td><input type="radio" name="LuCiD20" value="4"></td>
        <td><input type="radio" name="LuCiD20" value="5"></td>
        <td><input type="checkbox" name="LuCiD20na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I watched the dream from the outside, as if on a screen.</td>
        <td><input type="radio" name="LuCiD21" value="0" checked></td>
        <td><input type="radio" name="LuCiD21" value="1"></td>
        <td><input type="radio" name="LuCiD21" value="2"></td>
        <td><input type="radio" name="LuCiD21" value="3"></td>
        <td><input type="radio" name="LuCiD21" value="4"></td>
        <td><input type="radio" name="LuCiD21" value="5"></td>
        <td><input type="checkbox" name="LuCiD21na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I often thought about the things I was experiencing.</td>
        <td><input type="radio" name="LuCiD22" value="0" checked></td>
        <td><input type="radio" name="LuCiD22" value="1"></td>
        <td><input type="radio" name="LuCiD22" value="2"></td>
        <td><input type="radio" name="LuCiD22" value="3"></td>
        <td><input type="radio" name="LuCiD22" value="4"></td>
        <td><input type="radio" name="LuCiD22" value="5"></td>
        <td><input type="checkbox" name="LuCiD22na" value="1"></td>
    </tr>
    <tr>
        <td align=left>I was able to influence the story line of my dreams at will/at libitum.</td>
        <td><input type="radio" name="LuCiD23" value="0" checked></td>
        <td><input type="radio" name="LuCiD23" value="1"></td>
        <td><input type="radio" name="LuCiD23" value="2"></td>
        <td><input type="radio" name="LuCiD23" value="3"></td>
        <td><input type="radio" name="LuCiD23" value="4"></td>
        <td><input type="radio" name="LuCiD23" value="5"></td>
        <td><input type="checkbox" name="LuCiD23na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I was able to remember certain plans for the future.</td>
        <td><input type="radio" name="LuCiD24" value="0" checked></td>
        <td><input type="radio" name="LuCiD24" value="1"></td>
        <td><input type="radio" name="LuCiD24" value="2"></td>
        <td><input type="radio" name="LuCiD24" value="3"></td>
        <td><input type="radio" name="LuCiD24" value="4"></td>
        <td><input type="radio" name="LuCiD24" value="5"></td>
        <td><input type="checkbox" name="LuCiD24na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I felt euphoric/upbeat.</td>
        <td><input type="radio" name="LuCiD25" value="0" checked></td>
        <td><input type="radio" name="LuCiD25" value="1"></td>
        <td><input type="radio" name="LuCiD25" value="2"></td>
        <td><input type="radio" name="LuCiD25" value="3"></td>
        <td><input type="radio" name="LuCiD25" value="4"></td>
        <td><input type="radio" name="LuCiD25" value="5"></td>
        <td><input type="checkbox" name="LuCiD25na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I had strong negative feelings.</td>
        <td><input type="radio" name="LuCiD26" value="0" checked></td>
        <td><input type="radio" name="LuCiD26" value="1"></td>
        <td><input type="radio" name="LuCiD26" value="2"></td>
        <td><input type="radio" name="LuCiD26" value="3"></td>
        <td><input type="radio" name="LuCiD26" value="4"></td>
        <td><input type="radio" name="LuCiD26" value="5"></td>
        <td><input type="checkbox" name="LuCiD26na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I had strong positive feelings.</td>
        <td><input type="radio" name="LuCiD27" value="0" checked></td>
        <td><input type="radio" name="LuCiD27" value="1"></td>
        <td><input type="radio" name="LuCiD27" value="2"></td>
        <td><input type="radio" name="LuCiD27" value="3"></td>
        <td><input type="radio" name="LuCiD27" value="4"></td>
        <td><input type="radio" name="LuCiD27" value="5"></td>
        <td><input type="checkbox" name="LuCiD27na" value="1"></td>
    </tr>
    <tr>
        <td align=left>While dreaming, I felt very anxious.</td>
        <td><input type="radio" name="LuCiD28" value="0" checked></td>
        <td><input type="radio" name="LuCiD28" value="1"></td>
        <td><input type="radio" name="LuCiD28" value="2"></td>
        <td><input type="radio" name="LuCiD28" value="3"></td>
        <td><input type="radio" name="LuCiD28" value="4"></td>
        <td><input type="radio" name="LuCiD28" value="5"></td>
        <td><input type="checkbox" name="LuCiD28na" value="1"></td>
     </tr>
</table>