<h3><center>Lucid Dreaming Skills Questionnaire</center></h3>

<table>
    <tr>
        <th width=50% align=left>In how many of your lucid dreams were you...</th>
        <th>In none</th>
        <th>In a quarter</th>
        <th>In half</th>
        <th>In three quarters</th>
        <th>In all</th>
    </tr>
    <tr>
        <td align=left>...were you aware of differences to the waking state (e.g., bizarre incidents or settings)?</td>
        <td><input type="radio" name="LUSK01" value="0"></td>
        <td><input type="radio" name="LUSK01" value="1"></td>
        <td><input type="radio" name="LUSK01" value="2"></td>
        <td><input type="radio" name="LUSK01" value="3"></td>
        <td><input type="radio" name="LUSK01" value="4"></td>
    </tr>
    <tr>
        <td align=left>...were you aware that your physical body was asleep?</td>
        <td><input type="radio" name="LUSK02" value="0"></td>
        <td><input type="radio" name="LUSK02" value="1"></td>
        <td><input type="radio" name="LUSK02" value="2"></td>
        <td><input type="radio" name="LUSK02" value="3"></td>
        <td><input type="radio" name="LUSK02" value="4"></td>
    </tr>
    <tr>
        <td align=left>...were you aware that all dream objects were not real?</td>
        <td><input type="radio" name="LUSK03" value="0"></td>
        <td><input type="radio" name="LUSK03" value="1"></td>
        <td><input type="radio" name="LUSK03" value="2"></td>
        <td><input type="radio" name="LUSK03" value="3"></td>
        <td><input type="radio" name="LUSK03" value="4"></td>
    </tr>
    <tr>
        <td align=left>...did you think about different options of what you can do in a dream?</td>
        <td><input type="radio" name="LUSK04" value="0"></td>
        <td><input type="radio" name="LUSK04" value="1"></td>
        <td><input type="radio" name="LUSK04" value="2"></td>
        <td><input type="radio" name="LUSK04" value="3"></td>
        <td><input type="radio" name="LUSK04" value="4"></td>
    </tr>
    <tr>
        <td align=left>...were you able to keep your awareness for a satisfying period of time?</td>
        <td><input type="radio" name="LUSK05" value="0"></td>
        <td><input type="radio" name="LUSK05" value="1"></td>
        <td><input type="radio" name="LUSK05" value="2"></td>
        <td><input type="radio" name="LUSK05" value="3"></td>
        <td><input type="radio" name="LUSK05" value="4"></td>
    </tr>
    <tr>
        <td align=left>...did you decide deliberately to observe the dream as a dream?</td>
        <td><input type="radio" name="LUSK06" value="0"></td>
        <td><input type="radio" name="LUSK06" value="1"></td>
        <td><input type="radio" name="LUSK06" value="2"></td>
        <td><input type="radio" name="LUSK06" value="3"></td>
        <td><input type="radio" name="LUSK06" value="4"></td>
    </tr>
    <tr>
        <td align=left>...were you able to deliberately shape your environment (e.g., change landscapes/surroundings, let persons/characters appear or disappear)?</td>
        <td><input type="radio" name="LUSK07" value="0"></td>
        <td><input type="radio" name="LUSK07" value="1"></td>
        <td><input type="radio" name="LUSK07" value="2"></td>
        <td><input type="radio" name="LUSK07" value="3"></td>
        <td><input type="radio" name="LUSK07" value="4"></td>
    </tr>
    <tr>
        <td align=left>...did you have full control of your dream body (movements, actions)?</td>
        <td><input type="radio" name="LUSK08" value="0"></td>
        <td><input type="radio" name="LUSK08" value="1"></td>
        <td><input type="radio" name="LUSK08" value="2"></td>
        <td><input type="radio" name="LUSK08" value="3"></td>
        <td><input type="radio" name="LUSK08" value="4"></td>
    </tr>
    <tr>
        <td align=left>...did you choose deliberately a specific action?</td>
        <td><input type="radio" name="LUSK09" value="0"></td>
        <td><input type="radio" name="LUSK09" value="1"></td>
        <td><input type="radio" name="LUSK09" value="2"></td>
        <td><input type="radio" name="LUSK09" value="3"></td>
        <td><input type="radio" name="LUSK09" value="4"></td>
    </tr>
    <tr>
        <td align=left>...were you able to perform specific actions (e.g., flying, floating, talking with dream characters, perform magic, engaging in sex)?</td>
        <td><input type="radio" name="LUSK10" value="0"></td>
        <td><input type="radio" name="LUSK10" value="1"></td>
        <td><input type="radio" name="LUSK10" value="2"></td>
        <td><input type="radio" name="LUSK10" value="3"></td>
        <td><input type="radio" name="LUSK10" value="4"></td>
    </tr>
</table>