<h3><center>Metacognition, Affect, Cognitive Experiences Questionnaire</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>none</th>
        <th></th>
        <th>some</th>
        <th></th>
        <th>all</th>
    </tr>
    <tr>
        <td align=left>During how much of your time did you make a choice between two or more options?<br><i>(e.g., I chose to finish my homework instead of going to the movies)</i></td>
        <td><input type="radio" name="MACE01" value="0"></td>
        <td><input type="radio" name="MACE01" value="1"></td>
        <td><input type="radio" name="MACE01" value="2"></td>
        <td><input type="radio" name="MACE01" value="3"></td>
        <td><input type="radio" name="MACE01" value="4"></td>
    </tr>
    <tr>
        <td align=left>During how much of your time did you find your attention suddenly captured by something?<br><i>(e.g., I heard a scream behind me and I turned around to see what was happened)</i></td>
        <td><input type="radio" name="MACE02" value="0"></td>
        <td><input type="radio" name="MACE02" value="1"></td>
        <td><input type="radio" name="MACE02" value="2"></td>
        <td><input type="radio" name="MACE02" value="3"></td>
        <td><input type="radio" name="MACE02" value="4"></td>
    </tr>
    <tr>
        <td align=left>During how much of your time did you focus for a period of time on accomplishing a particular task?<br><i>(e.g., I looked all over for my keys)</i></td>
        <td><input type="radio" name="MACE03" value="0"></td>
        <td><input type="radio" name="MACE03" value="1"></td>
        <td><input type="radio" name="MACE03" value="2"></td>
        <td><input type="radio" name="MACE03" value="3"></td>
        <td><input type="radio" name="MACE03" value="4"></td>
    </tr>
    <tr>
        <td align=left>During how much of your time did you feel concerned about the impression you made, how you looked, or how you appeared to others?<br><i>(e.g., I was afraid I'd seem foolish if I asked a question)</i></td>
        <td><input type="radio" name="MACE04" value="0"></td>
        <td><input type="radio" name="MACE04" value="1"></td>
        <td><input type="radio" name="MACE04" value="2"></td>
        <td><input type="radio" name="MACE04" value="3"></td>
        <td><input type="radio" name="MACE04" value="4"></td>
    </tr>
    <tr>
        <td align=left>During how much of your time did you think about your own thoughts or feelings?<br><i>(e.g., I thought about how irrationally jealous I was feeling)</i></td>
        <td><input type="radio" name="MACE05" value="0"></td>
        <td><input type="radio" name="MACE05" value="1"></td>
        <td><input type="radio" name="MACE05" value="2"></td>
        <td><input type="radio" name="MACE05" value="3"></td>
        <td><input type="radio" name="MACE05" value="4"></td>
    </tr>
    <tr>
        <td align=left>During how much of your time did you think about what you were doing?<br><i>(e.g., I was thinking I need to be careful not to spill the boiling pot)</i></td>
        <td><input type="radio" name="MACE06" value="0"></td>
        <td><input type="radio" name="MACE06" value="1"></td>
        <td><input type="radio" name="MACE06" value="2"></td>
        <td><input type="radio" name="MACE06" value="3"></td>
        <td><input type="radio" name="MACE06" value="4"></td>
    </tr>
    <tr>
        <td align=left>During how much of your time did you think about what was happening around you?<br><i>(e.g., I wondered why everyone seemed to be in such a hurry)</i></td>
        <td><input type="radio" name="MACE07" value="0"></td>
        <td><input type="radio" name="MACE07" value="1"></td>
        <td><input type="radio" name="MACE07" value="2"></td>
        <td><input type="radio" name="MACE07" value="3"></td>
        <td><input type="radio" name="MACE07" value="4"></td>
    </tr>
</table>