<h3><center>Morning Lucidity Assessment</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Strongly<br>disagree</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Strongly<br>agree</th>
    </tr>
    <tr>
        <td align=left>It was easy to remember my dreams.</td>
        <td><input type="radio" name="MLA01" value="1"></td>
        <td><input type="radio" name="MLA01" value="2"></td>
        <td><input type="radio" name="MLA01" value="3"></td>
        <td><input type="radio" name="MLA01" value="4"></td>
        <td><input type="radio" name="MLA01" value="5"></td>
    </tr>
    <tr>
        <td align=left>I could recall most or all of the detail in my dreams.</td>
        <td><input type="radio" name="MLA02" value="1"></td>
        <td><input type="radio" name="MLA02" value="2"></td>
        <td><input type="radio" name="MLA02" value="3"></td>
        <td><input type="radio" name="MLA02" value="4"></td>
        <td><input type="radio" name="MLA02" value="5"></td>
    </tr>
    <tr>
        <td align=left>I thought or knew that I was dreaming during my dreams.</td>
        <td><input type="radio" name="MLA03" value="1"></td>
        <td><input type="radio" name="MLA03" value="2"></td>
        <td><input type="radio" name="MLA03" value="3"></td>
        <td><input type="radio" name="MLA03" value="4"></td>
        <td><input type="radio" name="MLA03" value="5"></td>
    </tr>
    <tr>
        <td align=left>I was able to control some or all of what happened in my dreams.</td>
        <td><input type="radio" name="MLA04" value="1"></td>
        <td><input type="radio" name="MLA04" value="2"></td>
        <td><input type="radio" name="MLA04" value="3"></td>
        <td><input type="radio" name="MLA04" value="4"></td>
        <td><input type="radio" name="MLA04" value="5"></td>
    </tr>
    <tr>
        <td align=left>I dreamed about things I had decided I wanted to dream about.</td>
        <td><input type="radio" name="MLA05" value="1"></td>
        <td><input type="radio" name="MLA05" value="2"></td>
        <td><input type="radio" name="MLA05" value="3"></td>
        <td><input type="radio" name="MLA05" value="4"></td>
        <td><input type="radio" name="MLA05" value="5"></td>
    </tr>
</table>