<h3><center>Morning Lucid Dreaming Skills Questionnaire</center></h3>

<table>
    <tr>
        <th width=50% align=left>In your lucid dream...</th>
        <th>Not at<br>all</th>
        <th>Just a<br>little</th>
        <th>Moderately</th>
        <th>Pretty<br>much</th>
        <th>Very<br>much</th>
    </tr>
    <tr>
        <td align=left>I was aware of differences to the waking state (e.g., bizarre incidents or settings).</td>
        <td><input type="radio" name="MUSK01" value="0"></td>
        <td><input type="radio" name="MUSK01" value="1"></td>
        <td><input type="radio" name="MUSK01" value="2"></td>
        <td><input type="radio" name="MUSK01" value="3"></td>
        <td><input type="radio" name="MUSK01" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was aware that my physical body was asleep.</td>
        <td><input type="radio" name="MUSK02" value="0"></td>
        <td><input type="radio" name="MUSK02" value="1"></td>
        <td><input type="radio" name="MUSK02" value="2"></td>
        <td><input type="radio" name="MUSK02" value="3"></td>
        <td><input type="radio" name="MUSK02" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was aware that all dream objects were not real.</td>
        <td><input type="radio" name="MUSK03" value="0"></td>
        <td><input type="radio" name="MUSK03" value="1"></td>
        <td><input type="radio" name="MUSK03" value="2"></td>
        <td><input type="radio" name="MUSK03" value="3"></td>
        <td><input type="radio" name="MUSK03" value="4"></td>
    </tr>
    <tr>
        <td align=left>I thought about different options of what I could do in a dream.</td>
        <td><input type="radio" name="MUSK04" value="0"></td>
        <td><input type="radio" name="MUSK04" value="1"></td>
        <td><input type="radio" name="MUSK04" value="2"></td>
        <td><input type="radio" name="MUSK04" value="3"></td>
        <td><input type="radio" name="MUSK04" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was able to keep my awareness for a satisfying period of time.</td>
        <td><input type="radio" name="MUSK05" value="0"></td>
        <td><input type="radio" name="MUSK05" value="1"></td>
        <td><input type="radio" name="MUSK05" value="2"></td>
        <td><input type="radio" name="MUSK05" value="3"></td>
        <td><input type="radio" name="MUSK05" value="4"></td>
    </tr>
    <tr>
        <td align=left>I deliberately decided to observe the dream as a dream.</td>
        <td><input type="radio" name="MUSK06" value="0"></td>
        <td><input type="radio" name="MUSK06" value="1"></td>
        <td><input type="radio" name="MUSK06" value="2"></td>
        <td><input type="radio" name="MUSK06" value="3"></td>
        <td><input type="radio" name="MUSK06" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was able to deliberately shape my environment (e.g., change landscapes/surroundings, let persons/characters appear or disappear).</td>
        <td><input type="radio" name="MUSK07" value="0"></td>
        <td><input type="radio" name="MUSK07" value="1"></td>
        <td><input type="radio" name="MUSK07" value="2"></td>
        <td><input type="radio" name="MUSK07" value="3"></td>
        <td><input type="radio" name="MUSK07" value="4"></td>
    </tr>
    <tr>
        <td align=left>I had full control of my dream body (movements, actions).</td>
        <td><input type="radio" name="MUSK08" value="0"></td>
        <td><input type="radio" name="MUSK08" value="1"></td>
        <td><input type="radio" name="MUSK08" value="2"></td>
        <td><input type="radio" name="MUSK08" value="3"></td>
        <td><input type="radio" name="MUSK08" value="4"></td>
    </tr>
    <tr>
        <td align=left>I deliberately choose a specific action.</td>
        <td><input type="radio" name="MUSK09" value="0"></td>
        <td><input type="radio" name="MUSK09" value="1"></td>
        <td><input type="radio" name="MUSK09" value="2"></td>
        <td><input type="radio" name="MUSK09" value="3"></td>
        <td><input type="radio" name="MUSK09" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was able to perform specific actions (e.g., flying, floating, talking with dream characters, performing magic, engaging in sex).</td>
        <td><input type="radio" name="MUSK10" value="0"></td>
        <td><input type="radio" name="MUSK10" value="1"></td>
        <td><input type="radio" name="MUSK10" value="2"></td>
        <td><input type="radio" name="MUSK10" value="3"></td>
        <td><input type="radio" name="MUSK10" value="4"></td>
    </tr>
</table>