<h3><center>Cognitive and Affective Mindfulness Scale - Revised</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Rarely/Not<br>at all</th>
        <th>Sometimes</th>
        <th>Often</th>
        <th>Always</th>
    </tr>
    <tr>
        <td align=left>It is easy for me to concentrate on what I am doing.</td>
        <td><input type="radio" name="CAMSR01" value="1"></td>
        <td><input type="radio" name="CAMSR01" value="2"></td>
        <td><input type="radio" name="CAMSR01" value="3"></td>
        <td><input type="radio" name="CAMSR01" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am preoccupied by the future.</td>
        <td><input type="radio" name="CAMSR02" value="1"></td>
        <td><input type="radio" name="CAMSR02" value="2"></td>
        <td><input type="radio" name="CAMSR02" value="3"></td>
        <td><input type="radio" name="CAMSR02" value="4"></td>
    </tr>
    <tr>
        <td align=left>I can tolerate emotional pain.</td>
        <td><input type="radio" name="CAMSR03" value="1"></td>
        <td><input type="radio" name="CAMSR03" value="2"></td>
        <td><input type="radio" name="CAMSR03" value="3"></td>
        <td><input type="radio" name="CAMSR03" value="4"></td>
    </tr>
    <tr>
        <td align=left>I can accept things I cannot change.</td>
        <td><input type="radio" name="CAMSR04" value="1"></td>
        <td><input type="radio" name="CAMSR04" value="2"></td>
        <td><input type="radio" name="CAMSR04" value="3"></td>
        <td><input type="radio" name="CAMSR04" value="4"></td>
    </tr>
    <tr>
        <td align=left>I can usually describe how I feel at the moment in considerable detail.</td>
        <td><input type="radio" name="CAMSR05" value="1"></td>
        <td><input type="radio" name="CAMSR05" value="2"></td>
        <td><input type="radio" name="CAMSR05" value="3"></td>
        <td><input type="radio" name="CAMSR05" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am easily distracted.</td>
        <td><input type="radio" name="CAMSR06" value="1"></td>
        <td><input type="radio" name="CAMSR06" value="2"></td>
        <td><input type="radio" name="CAMSR06" value="3"></td>
        <td><input type="radio" name="CAMSR06" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am preoccupied by the past.</td>
        <td><input type="radio" name="CAMSR07" value="1"></td>
        <td><input type="radio" name="CAMSR07" value="2"></td>
        <td><input type="radio" name="CAMSR07" value="3"></td>
        <td><input type="radio" name="CAMSR07" value="4"></td>
    </tr>
    <tr>
        <td align=left>It's easy for me to keep track of my thoughts and feelings.</td>
        <td><input type="radio" name="CAMSR08" value="1"></td>
        <td><input type="radio" name="CAMSR08" value="2"></td>
        <td><input type="radio" name="CAMSR08" value="3"></td>
        <td><input type="radio" name="CAMSR08" value="4"></td>
    </tr>
    <tr>
        <td align=left>I try to notice my thoughts without judging them.</td>
        <td><input type="radio" name="CAMSR09" value="1"></td>
        <td><input type="radio" name="CAMSR09" value="2"></td>
        <td><input type="radio" name="CAMSR09" value="3"></td>
        <td><input type="radio" name="CAMSR09" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am able to accept the thoughts and feelings I have.</td>
        <td><input type="radio" name="CAMSR10" value="1"></td>
        <td><input type="radio" name="CAMSR10" value="2"></td>
        <td><input type="radio" name="CAMSR10" value="3"></td>
        <td><input type="radio" name="CAMSR10" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am able to focus on the present moment.</td>
        <td><input type="radio" name="CAMSR11" value="1"></td>
        <td><input type="radio" name="CAMSR11" value="2"></td>
        <td><input type="radio" name="CAMSR11" value="3"></td>
        <td><input type="radio" name="CAMSR11" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am able to pay close attention to one things for a long period of time.</td>
        <td><input type="radio" name="CAMSR12" value="1"></td>
        <td><input type="radio" name="CAMSR12" value="2"></td>
        <td><input type="radio" name="CAMSR12" value="3"></td>
        <td><input type="radio" name="CAMSR12" value="4"></td>
    </tr>
</table>