<h3><center>Five Facet Mindfulness Questionnaire</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Never or very<br>rarely true</th>
        <th>Rarely<br>true</th>
        <th>Sometimes<br>true</th>
        <th>Often<br>true</th>
        <th>Very often or<br>always true</th>
    </tr>
    <tr>
        <td align=left>When I'm walking, I deliberately notice the sensations of my body moving.</td>
        <td><input type="radio" name="FFMQ01" value="1"></td>
        <td><input type="radio" name="FFMQ01" value="2"></td>
        <td><input type="radio" name="FFMQ01" value="3"></td>
        <td><input type="radio" name="FFMQ01" value="4"></td>
        <td><input type="radio" name="FFMQ01" value="5"></td>
    </tr>
    <tr>
        <td align=left>I'm good at finding words to describe my feelings.</td>
        <td><input type="radio" name="FFMQ02" value="1"></td>
        <td><input type="radio" name="FFMQ02" value="2"></td>
        <td><input type="radio" name="FFMQ02" value="3"></td>
        <td><input type="radio" name="FFMQ02" value="4"></td>
        <td><input type="radio" name="FFMQ02" value="5"></td>
    </tr>
    <tr>
        <td align=left>I criticize myself for having irrational or inappropriate emotions.</td>
        <td><input type="radio" name="FFMQ03" value="1"></td>
        <td><input type="radio" name="FFMQ03" value="2"></td>
        <td><input type="radio" name="FFMQ03" value="3"></td>
        <td><input type="radio" name="FFMQ03" value="4"></td>
        <td><input type="radio" name="FFMQ03" value="5"></td>
    </tr>
    <tr>
        <td align=left>I perceive my feelings and emotions without having to react to them.</td>
        <td><input type="radio" name="FFMQ04" value="1"></td>
        <td><input type="radio" name="FFMQ04" value="2"></td>
        <td><input type="radio" name="FFMQ04" value="3"></td>
        <td><input type="radio" name="FFMQ04" value="4"></td>
        <td><input type="radio" name="FFMQ04" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I do things, my mind wanders off and I'm easily distracted.</td>
        <td><input type="radio" name="FFMQ05" value="1"></td>
        <td><input type="radio" name="FFMQ05" value="2"></td>
        <td><input type="radio" name="FFMQ05" value="3"></td>
        <td><input type="radio" name="FFMQ05" value="4"></td>
        <td><input type="radio" name="FFMQ05" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I take a shower or bath, I stay alert to the sensations of water on my body</td>
        <td><input type="radio" name="FFMQ06" value="1"></td>
        <td><input type="radio" name="FFMQ06" value="2"></td>
        <td><input type="radio" name="FFMQ06" value="3"></td>
        <td><input type="radio" name="FFMQ06" value="4"></td>
        <td><input type="radio" name="FFMQ06" value="5"></td>
    </tr>
    <tr>
        <td align=left>I can easily put my beliefs, opinions, and expectations into words.</td>
        <td><input type="radio" name="FFMQ07" value="1"></td>
        <td><input type="radio" name="FFMQ07" value="2"></td>
        <td><input type="radio" name="FFMQ07" value="3"></td>
        <td><input type="radio" name="FFMQ07" value="4"></td>
        <td><input type="radio" name="FFMQ07" value="5"></td>
    </tr>
    <tr>
        <td align=left>I don't pay attention to what I'm doing because I'm daydreaming, worrying, or otherwise distracted.</td>
        <td><input type="radio" name="FFMQ08" value="1"></td>
        <td><input type="radio" name="FFMQ08" value="2"></td>
        <td><input type="radio" name="FFMQ08" value="3"></td>
        <td><input type="radio" name="FFMQ08" value="4"></td>
        <td><input type="radio" name="FFMQ08" value="5"></td>
    </tr>
    <tr>
        <td align=left>I watch my feelings without getting lost in them.</td>
        <td><input type="radio" name="FFMQ09" value="1"></td>
        <td><input type="radio" name="FFMQ09" value="2"></td>
        <td><input type="radio" name="FFMQ09" value="3"></td>
        <td><input type="radio" name="FFMQ09" value="4"></td>
        <td><input type="radio" name="FFMQ09" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tell myself I shouldn't be feeling the way I'm feeling.</td>
        <td><input type="radio" name="FFMQ10" value="1"></td>
        <td><input type="radio" name="FFMQ10" value="2"></td>
        <td><input type="radio" name="FFMQ10" value="3"></td>
        <td><input type="radio" name="FFMQ10" value="4"></td>
        <td><input type="radio" name="FFMQ10" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice how foods and drinks affect my thoughts, bodily sensations, and emotions.</td>
        <td><input type="radio" name="FFMQ11" value="1"></td>
        <td><input type="radio" name="FFMQ11" value="2"></td>
        <td><input type="radio" name="FFMQ11" value="3"></td>
        <td><input type="radio" name="FFMQ11" value="4"></td>
        <td><input type="radio" name="FFMQ11" value="5"></td>
    </tr>
    <tr>
        <td align=left>It's hard for me to find the words to describe what I'm thinking.</td>
        <td><input type="radio" name="FFMQ12" value="1"></td>
        <td><input type="radio" name="FFMQ12" value="2"></td>
        <td><input type="radio" name="FFMQ12" value="3"></td>
        <td><input type="radio" name="FFMQ12" value="4"></td>
        <td><input type="radio" name="FFMQ12" value="5"></td>
    </tr>
    <tr>
        <td align=left>I am easily distracted.</td>
        <td><input type="radio" name="FFMQ13" value="1"></td>
        <td><input type="radio" name="FFMQ13" value="2"></td>
        <td><input type="radio" name="FFMQ13" value="3"></td>
        <td><input type="radio" name="FFMQ13" value="4"></td>
        <td><input type="radio" name="FFMQ13" value="5"></td>
    </tr>
    <tr>
        <td align=left>I believe some of my thoughts are abnormal or bad and I shouldn't think that way.</td>
        <td><input type="radio" name="FFMQ14" value="1"></td>
        <td><input type="radio" name="FFMQ14" value="2"></td>
        <td><input type="radio" name="FFMQ14" value="3"></td>
        <td><input type="radio" name="FFMQ14" value="4"></td>
        <td><input type="radio" name="FFMQ14" value="5"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to sensations, such as the wind in my hair or sun on my face.</td>
        <td><input type="radio" name="FFMQ15" value="1"></td>
        <td><input type="radio" name="FFMQ15" value="2"></td>
        <td><input type="radio" name="FFMQ15" value="3"></td>
        <td><input type="radio" name="FFMQ15" value="4"></td>
        <td><input type="radio" name="FFMQ15" value="5"></td>
    </tr>
    <tr>
        <td align=left>I have trouble thinking of the right words to express how I feel about things.</td>
        <td><input type="radio" name="FFMQ16" value="1"></td>
        <td><input type="radio" name="FFMQ16" value="2"></td>
        <td><input type="radio" name="FFMQ16" value="3"></td>
        <td><input type="radio" name="FFMQ16" value="4"></td>
        <td><input type="radio" name="FFMQ16" value="5"></td>
    </tr>
    <tr>
        <td align=left>I make judgments about whether my thoughts are good or bad.</td>
        <td><input type="radio" name="FFMQ17" value="1"></td>
        <td><input type="radio" name="FFMQ17" value="2"></td>
        <td><input type="radio" name="FFMQ17" value="3"></td>
        <td><input type="radio" name="FFMQ17" value="4"></td>
        <td><input type="radio" name="FFMQ17" value="5"></td>
    </tr>
    <tr>
        <td align=left>I find it difficult to stay focused on what's happening in the present.</td>
        <td><input type="radio" name="FFMQ18" value="1"></td>
        <td><input type="radio" name="FFMQ18" value="2"></td>
        <td><input type="radio" name="FFMQ18" value="3"></td>
        <td><input type="radio" name="FFMQ18" value="4"></td>
        <td><input type="radio" name="FFMQ18" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I have distressing thoughts or images, I "step back" and am aware of the thought or image without getting taken over by it.</td>
        <td><input type="radio" name="FFMQ19" value="1"></td>
        <td><input type="radio" name="FFMQ19" value="2"></td>
        <td><input type="radio" name="FFMQ19" value="3"></td>
        <td><input type="radio" name="FFMQ19" value="4"></td>
        <td><input type="radio" name="FFMQ19" value="5"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to sounds, such as clocks ticking, birds chirping, or cars passing.</td>
        <td><input type="radio" name="FFMQ20" value="1"></td>
        <td><input type="radio" name="FFMQ20" value="2"></td>
        <td><input type="radio" name="FFMQ20" value="3"></td>
        <td><input type="radio" name="FFMQ20" value="4"></td>
        <td><input type="radio" name="FFMQ20" value="5"></td>
    </tr>
    <tr>
        <td align=left>In difficult situations, I can pause without immediately reacting.</td>
        <td><input type="radio" name="FFMQ21" value="1"></td>
        <td><input type="radio" name="FFMQ21" value="2"></td>
        <td><input type="radio" name="FFMQ21" value="3"></td>
        <td><input type="radio" name="FFMQ21" value="4"></td>
        <td><input type="radio" name="FFMQ21" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I have a sensation in my body, it's difficult for me to describe it because I can't find the right words.</td>
        <td><input type="radio" name="FFMQ22" value="1"></td>
        <td><input type="radio" name="FFMQ22" value="2"></td>
        <td><input type="radio" name="FFMQ22" value="3"></td>
        <td><input type="radio" name="FFMQ22" value="4"></td>
        <td><input type="radio" name="FFMQ22" value="5"></td>
    </tr>
    <tr>
        <td align=left>It seems I am "running on automatic" without much awareness of what I'm doing.</td>
        <td><input type="radio" name="FFMQ23" value="1"></td>
        <td><input type="radio" name="FFMQ23" value="2"></td>
        <td><input type="radio" name="FFMQ23" value="3"></td>
        <td><input type="radio" name="FFMQ23" value="4"></td>
        <td><input type="radio" name="FFMQ23" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I have distressing thoughts or images, I feel calm soon after.</td>
        <td><input type="radio" name="FFMQ24" value="1"></td>
        <td><input type="radio" name="FFMQ24" value="2"></td>
        <td><input type="radio" name="FFMQ24" value="3"></td>
        <td><input type="radio" name="FFMQ24" value="4"></td>
        <td><input type="radio" name="FFMQ24" value="5"></td>
    </tr>
    <tr>
        <td align=left> I tell myself that I shouldn't be thinking the way I'm thinking.</td>
        <td><input type="radio" name="FFMQ25" value="1"></td>
        <td><input type="radio" name="FFMQ25" value="2"></td>
        <td><input type="radio" name="FFMQ25" value="3"></td>
        <td><input type="radio" name="FFMQ25" value="4"></td>
        <td><input type="radio" name="FFMQ25" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice the smells and aromas of things.</td>
        <td><input type="radio" name="FFMQ26" value="1"></td>
        <td><input type="radio" name="FFMQ26" value="2"></td>
        <td><input type="radio" name="FFMQ26" value="3"></td>
        <td><input type="radio" name="FFMQ26" value="4"></td>
        <td><input type="radio" name="FFMQ26" value="5"></td>
    </tr>
    <tr>
        <td align=left>Even when I'm feeling terribly upset, I can find a way to put it into words.</td>
        <td><input type="radio" name="FFMQ27" value="1"></td>
        <td><input type="radio" name="FFMQ27" value="2"></td>
        <td><input type="radio" name="FFMQ27" value="3"></td>
        <td><input type="radio" name="FFMQ27" value="4"></td>
        <td><input type="radio" name="FFMQ27" value="5"></td>
    </tr>
    <tr>
        <td align=left>I rush through activities without being really attentive to them.</td>
        <td><input type="radio" name="FFMQ28" value="1"></td>
        <td><input type="radio" name="FFMQ28" value="2"></td>
        <td><input type="radio" name="FFMQ28" value="3"></td>
        <td><input type="radio" name="FFMQ28" value="4"></td>
        <td><input type="radio" name="FFMQ28" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I have distressing thoughts or images I am able just to notice them without reacting.</td>
        <td><input type="radio" name="FFMQ29" value="1"></td>
        <td><input type="radio" name="FFMQ29" value="2"></td>
        <td><input type="radio" name="FFMQ29" value="3"></td>
        <td><input type="radio" name="FFMQ29" value="4"></td>
        <td><input type="radio" name="FFMQ29" value="5"></td>
    </tr>
    <tr>
        <td align=left>I think some of my emotions are bad or inappropriate and I shouldn't feel them.</td>
        <td><input type="radio" name="FFMQ30" value="1"></td>
        <td><input type="radio" name="FFMQ30" value="2"></td>
        <td><input type="radio" name="FFMQ30" value="3"></td>
        <td><input type="radio" name="FFMQ30" value="4"></td>
        <td><input type="radio" name="FFMQ30" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice visual elements in art or nature, such as colors, shapes, textures, or patterns of light and shadow.</td>
        <td><input type="radio" name="FFMQ31" value="1"></td>
        <td><input type="radio" name="FFMQ31" value="2"></td>
        <td><input type="radio" name="FFMQ31" value="3"></td>
        <td><input type="radio" name="FFMQ31" value="4"></td>
        <td><input type="radio" name="FFMQ31" value="5"></td>
    </tr>
    <tr>
        <td align=left>My natural tendency is to put my experiences into words.</td>
        <td><input type="radio" name="FFMQ32" value="1"></td>
        <td><input type="radio" name="FFMQ32" value="2"></td>
        <td><input type="radio" name="FFMQ32" value="3"></td>
        <td><input type="radio" name="FFMQ32" value="4"></td>
        <td><input type="radio" name="FFMQ32" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I have distressing thoughts or images, I just notice them and let them go.</td>
        <td><input type="radio" name="FFMQ33" value="1"></td>
        <td><input type="radio" name="FFMQ33" value="2"></td>
        <td><input type="radio" name="FFMQ33" value="3"></td>
        <td><input type="radio" name="FFMQ33" value="4"></td>
        <td><input type="radio" name="FFMQ33" value="5"></td>
    </tr>
    <tr>
        <td align=left>I do jobs or tasks automatically without being aware of what I'm doing.</td>
        <td><input type="radio" name="FFMQ34" value="1"></td>
        <td><input type="radio" name="FFMQ34" value="2"></td>
        <td><input type="radio" name="FFMQ34" value="3"></td>
        <td><input type="radio" name="FFMQ34" value="4"></td>
        <td><input type="radio" name="FFMQ34" value="5"></td>
    </tr>
    <tr>
        <td align=left> When I have distressing thoughts or images, I judge myself as good or bad, depending what the thought/image is about.</td>
        <td><input type="radio" name="FFMQ35" value="1"></td>
        <td><input type="radio" name="FFMQ35" value="2"></td>
        <td><input type="radio" name="FFMQ35" value="3"></td>
        <td><input type="radio" name="FFMQ35" value="4"></td>
        <td><input type="radio" name="FFMQ35" value="5"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to how my emotions affect my thoughts and behavior.</td>
        <td><input type="radio" name="FFMQ36" value="1"></td>
        <td><input type="radio" name="FFMQ36" value="2"></td>
        <td><input type="radio" name="FFMQ36" value="3"></td>
        <td><input type="radio" name="FFMQ36" value="4"></td>
        <td><input type="radio" name="FFMQ36" value="5"></td>
    </tr>
    <tr>
        <td align=left>I can usually describe how I feel at the moment in considerable detail.</td>
        <td><input type="radio" name="FFMQ37" value="1"></td>
        <td><input type="radio" name="FFMQ37" value="2"></td>
        <td><input type="radio" name="FFMQ37" value="3"></td>
        <td><input type="radio" name="FFMQ37" value="4"></td>
        <td><input type="radio" name="FFMQ37" value="5"></td>
    </tr>
    <tr>
        <td align=left>I find myself doing things without paying attention.</td>
        <td><input type="radio" name="FFMQ38" value="1"></td>
        <td><input type="radio" name="FFMQ38" value="2"></td>
        <td><input type="radio" name="FFMQ38" value="3"></td>
        <td><input type="radio" name="FFMQ38" value="4"></td>
        <td><input type="radio" name="FFMQ38" value="5"></td>
    </tr>
    <tr>
        <td align=left>I disapprove of myself when I have irrational ideas.</td>
        <td><input type="radio" name="FFMQ39" value="1"></td>
        <td><input type="radio" name="FFMQ39" value="2"></td>
        <td><input type="radio" name="FFMQ39" value="3"></td>
        <td><input type="radio" name="FFMQ39" value="4"></td>
        <td><input type="radio" name="FFMQ39" value="5"></td>
    </tr>
</table>