<h3><center>Freiburg Mindfulness Inventory</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Rarely</th>
        <th>Occasionally</th>
        <th>Fairly<br>often</th>
        <th>Almost<br>always</th>
    </tr>
    <tr>
        <td align=left>I am open to the experience of the present moment.</td>
        <td><input type="radio" name="FMI01" value="1"></td>
        <td><input type="radio" name="FMI01" value="2"></td>
        <td><input type="radio" name="FMI01" value="3"></td>
        <td><input type="radio" name="FMI01" value="4"></td>
    </tr>
    <tr>
        <td align=left>I sense my body, whether eating, cooking, cleaning or talking.</td>
        <td><input type="radio" name="FMI02" value="1"></td>
        <td><input type="radio" name="FMI02" value="2"></td>
        <td><input type="radio" name="FMI02" value="3"></td>
        <td><input type="radio" name="FMI02" value="4"></td>
    </tr>
    <tr>
        <td align=left>When I notice an absence of mind, I gently return to the experience of the here and now.</td>
        <td><input type="radio" name="FMI03" value="1"></td>
        <td><input type="radio" name="FMI03" value="2"></td>
        <td><input type="radio" name="FMI03" value="3"></td>
        <td><input type="radio" name="FMI03" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am able to appreciate myself.</td>
        <td><input type="radio" name="FMI04" value="1"></td>
        <td><input type="radio" name="FMI04" value="2"></td>
        <td><input type="radio" name="FMI04" value="3"></td>
        <td><input type="radio" name="FMI04" value="4"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to what's behind my actions.</td>
        <td><input type="radio" name="FMI05" value="1"></td>
        <td><input type="radio" name="FMI05" value="2"></td>
        <td><input type="radio" name="FMI05" value="3"></td>
        <td><input type="radio" name="FMI05" value="4"></td>
    </tr>
    <tr>
        <td align=left>I see my mistakes and difficulties without judging them.</td>
        <td><input type="radio" name="FMI06" value="1"></td>
        <td><input type="radio" name="FMI06" value="2"></td>
        <td><input type="radio" name="FMI06" value="3"></td>
        <td><input type="radio" name="FMI06" value="4"></td>
    </tr>
    <tr>
        <td align=left>I feel connected to my experience in the here-and-now.</td>
        <td><input type="radio" name="FMI07" value="1"></td>
        <td><input type="radio" name="FMI07" value="2"></td>
        <td><input type="radio" name="FMI07" value="3"></td>
        <td><input type="radio" name="FMI07" value="4"></td>
    </tr>
    <tr>
        <td align=left>I accept unpleasant experiences.</td>
        <td><input type="radio" name="FMI08" value="1"></td>
        <td><input type="radio" name="FMI08" value="2"></td>
        <td><input type="radio" name="FMI08" value="3"></td>
        <td><input type="radio" name="FMI08" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am friendly to myself when things go wrong.</td>
        <td><input type="radio" name="FMI09" value="1"></td>
        <td><input type="radio" name="FMI09" value="2"></td>
        <td><input type="radio" name="FMI09" value="3"></td>
        <td><input type="radio" name="FMI09" value="4"></td>
    </tr>
    <tr>
        <td align=left>I watch my feelings without getting lost in them.</td>
        <td><input type="radio" name="FMI10" value="1"></td>
        <td><input type="radio" name="FMI10" value="2"></td>
        <td><input type="radio" name="FMI10" value="3"></td>
        <td><input type="radio" name="FMI10" value="4"></td>
    </tr>
    <tr>
        <td align=left>In difficult situations, I can pause without immediately reacting.</td>
        <td><input type="radio" name="FMI11" value="1"></td>
        <td><input type="radio" name="FMI11" value="2"></td>
        <td><input type="radio" name="FMI11" value="3"></td>
        <td><input type="radio" name="FMI11" value="4"></td>
    </tr>
    <tr>
        <td align=left>I experience moments of inner peace and ease, even when things get hectic and stressful.</td>
        <td><input type="radio" name="FMI12" value="1"></td>
        <td><input type="radio" name="FMI12" value="2"></td>
        <td><input type="radio" name="FMI12" value="3"></td>
        <td><input type="radio" name="FMI12" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am impatient with myself and others.</td>
        <td><input type="radio" name="FMI13" value="1"></td>
        <td><input type="radio" name="FMI13" value="2"></td>
        <td><input type="radio" name="FMI13" value="3"></td>
        <td><input type="radio" name="FMI13" value="4"></td>
    </tr>
    <tr>
        <td align=left>I am able to smile when I notice how I sometimes make life difficult.</td>
        <td><input type="radio" name="FMI14" value="1"></td>
        <td><input type="radio" name="FMI14" value="2"></td>
        <td><input type="radio" name="FMI14" value="3"></td>
        <td><input type="radio" name="FMI14" value="4"></td>
    </tr>
</table>