<h3><center>Kentucky Inventory of Mindfulness Skills</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Never or very<br>rarely true</th>
        <th>Rarely true</th>
        <th>Sometimes true</th>
        <th>Often true</th>
        <th>Very often or<br>always true</th>
    </tr>
    <tr>
        <td align=left>I notice changes in my body, such as whether my breathing slows down or speeds up.</td>
        <td><input type="radio" name="KIMS01" value="1"></td>
        <td><input type="radio" name="KIMS01" value="2"></td>
        <td><input type="radio" name="KIMS01" value="3"></td>
        <td><input type="radio" name="KIMS01" value="4"></td>
        <td><input type="radio" name="KIMS01" value="5"></td>
    </tr>
    <tr>
        <td align=left>I'm good at findings the words to describe my feelings.</td>
        <td><input type="radio" name="KIMS02" value="1"></td>
        <td><input type="radio" name="KIMS02" value="2"></td>
        <td><input type="radio" name="KIMS02" value="3"></td>
        <td><input type="radio" name="KIMS02" value="4"></td>
        <td><input type="radio" name="KIMS02" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I do things, my mind wanders off and I'm easily distracted.</td>
        <td><input type="radio" name="KIMS03" value="1"></td>
        <td><input type="radio" name="KIMS03" value="2"></td>
        <td><input type="radio" name="KIMS03" value="3"></td>
        <td><input type="radio" name="KIMS03" value="4"></td>
        <td><input type="radio" name="KIMS03" value="5"></td>
    </tr>
    <tr>
        <td align=left>I criticize myself for having irrational or inappropriate emotions.</td>
        <td><input type="radio" name="KIMS04" value="1"></td>
        <td><input type="radio" name="KIMS04" value="2"></td>
        <td><input type="radio" name="KIMS04" value="3"></td>
        <td><input type="radio" name="KIMS04" value="4"></td>
        <td><input type="radio" name="KIMS04" value="5"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to whether my muscles are tense or relaxed.</td>
        <td><input type="radio" name="KIMS05" value="1"></td>
        <td><input type="radio" name="KIMS05" value="2"></td>
        <td><input type="radio" name="KIMS05" value="3"></td>
        <td><input type="radio" name="KIMS05" value="4"></td>
        <td><input type="radio" name="KIMS05" value="5"></td>
    </tr>
    <tr>
        <td align=left>I can easily put my beliefs, opinions, and expectations into words.</td>
        <td><input type="radio" name="KIMS06" value="1"></td>
        <td><input type="radio" name="KIMS06" value="2"></td>
        <td><input type="radio" name="KIMS06" value="3"></td>
        <td><input type="radio" name="KIMS06" value="4"></td>
        <td><input type="radio" name="KIMS06" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I'm doing something, I'm only focused on what I'm doing, and nothing else.</td>
        <td><input type="radio" name="KIMS07" value="1"></td>
        <td><input type="radio" name="KIMS07" value="2"></td>
        <td><input type="radio" name="KIMS07" value="3"></td>
        <td><input type="radio" name="KIMS07" value="4"></td>
        <td><input type="radio" name="KIMS07" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tend to evaluate whether my perceptions are right or wrong.</td>
        <td><input type="radio" name="KIMS08" value="1"></td>
        <td><input type="radio" name="KIMS08" value="2"></td>
        <td><input type="radio" name="KIMS08" value="3"></td>
        <td><input type="radio" name="KIMS08" value="4"></td>
        <td><input type="radio" name="KIMS08" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I'm walking, I deliberately notice the sensations of my body moving.</td>
        <td><input type="radio" name="KIMS09" value="1"></td>
        <td><input type="radio" name="KIMS09" value="2"></td>
        <td><input type="radio" name="KIMS09" value="3"></td>
        <td><input type="radio" name="KIMS09" value="4"></td>
        <td><input type="radio" name="KIMS09" value="5"></td>
    </tr>
    <tr>
        <td align=left>I'm good at thinking of words to express my perceptions, such as how thing taste, smell, or sound.</td>
        <td><input type="radio" name="KIMS10" value="1"></td>
        <td><input type="radio" name="KIMS10" value="2"></td>
        <td><input type="radio" name="KIMS10" value="3"></td>
        <td><input type="radio" name="KIMS10" value="4"></td>
        <td><input type="radio" name="KIMS10" value="5"></td>
    </tr>
    <tr>
        <td align=left>I drive on "automatic pilot" without paying attention to what I'm doing.</td>
        <td><input type="radio" name="KIMS11" value="1"></td>
        <td><input type="radio" name="KIMS11" value="2"></td>
        <td><input type="radio" name="KIMS11" value="3"></td>
        <td><input type="radio" name="KIMS11" value="4"></td>
        <td><input type="radio" name="KIMS11" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tell myself that I shouldn't be feeling the way I'm feeling.</td>
        <td><input type="radio" name="KIMS12" value="1"></td>
        <td><input type="radio" name="KIMS12" value="2"></td>
        <td><input type="radio" name="KIMS12" value="3"></td>
        <td><input type="radio" name="KIMS12" value="4"></td>
        <td><input type="radio" name="KIMS12" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I take a shower or bath, I stay alert to the sensations of water on my body.</td>
        <td><input type="radio" name="KIMS13" value="1"></td>
        <td><input type="radio" name="KIMS13" value="2"></td>
        <td><input type="radio" name="KIMS13" value="3"></td>
        <td><input type="radio" name="KIMS13" value="4"></td>
        <td><input type="radio" name="KIMS13" value="5"></td>
    </tr>
    <tr>
        <td align=left>It's hard for me to find the words to describe what I'm thinking.</td>
        <td><input type="radio" name="KIMS14" value="1"></td>
        <td><input type="radio" name="KIMS14" value="2"></td>
        <td><input type="radio" name="KIMS14" value="3"></td>
        <td><input type="radio" name="KIMS14" value="4"></td>
        <td><input type="radio" name="KIMS14" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I'm reading, I focus all my attention on what I'm reading.</td>
        <td><input type="radio" name="KIMS15" value="1"></td>
        <td><input type="radio" name="KIMS15" value="2"></td>
        <td><input type="radio" name="KIMS15" value="3"></td>
        <td><input type="radio" name="KIMS15" value="4"></td>
        <td><input type="radio" name="KIMS15" value="5"></td>
    </tr>
    <tr>
        <td align=left>I believe some of my thoughts are abnormal or bad and I shouldn't think that way.</td>
        <td><input type="radio" name="KIMS16" value="1"></td>
        <td><input type="radio" name="KIMS16" value="2"></td>
        <td><input type="radio" name="KIMS16" value="3"></td>
        <td><input type="radio" name="KIMS16" value="4"></td>
        <td><input type="radio" name="KIMS16" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice how foods and drinks affect my thoughts, bodily sensations, and emotions.</td>
        <td><input type="radio" name="KIMS17" value="1"></td>
        <td><input type="radio" name="KIMS17" value="2"></td>
        <td><input type="radio" name="KIMS17" value="3"></td>
        <td><input type="radio" name="KIMS17" value="4"></td>
        <td><input type="radio" name="KIMS17" value="5"></td>
    </tr>
    <tr>
        <td align=left>I have trouble thinking of the right words to express how I feel about things.</td>
        <td><input type="radio" name="KIMS18" value="1"></td>
        <td><input type="radio" name="KIMS18" value="2"></td>
        <td><input type="radio" name="KIMS18" value="3"></td>
        <td><input type="radio" name="KIMS18" value="4"></td>
        <td><input type="radio" name="KIMS18" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I do things, I get totally wrapped up in them and don't think about anything else.</td>
        <td><input type="radio" name="KIMS19" value="1"></td>
        <td><input type="radio" name="KIMS19" value="2"></td>
        <td><input type="radio" name="KIMS19" value="3"></td>
        <td><input type="radio" name="KIMS19" value="4"></td>
        <td><input type="radio" name="KIMS19" value="5"></td>
    </tr>
    <tr>
        <td align=left>I make judgements about whether my thoughts are good or bad.</td>
        <td><input type="radio" name="KIMS20" value="1"></td>
        <td><input type="radio" name="KIMS20" value="2"></td>
        <td><input type="radio" name="KIMS20" value="3"></td>
        <td><input type="radio" name="KIMS20" value="4"></td>
        <td><input type="radio" name="KIMS20" value="5"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to sensations, such as the wind in my hair or sun on my face.</td>
        <td><input type="radio" name="KIMS21" value="1"></td>
        <td><input type="radio" name="KIMS21" value="2"></td>
        <td><input type="radio" name="KIMS21" value="3"></td>
        <td><input type="radio" name="KIMS21" value="4"></td>
        <td><input type="radio" name="KIMS21" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I have a sensation in my body, it's difficult for me to describe it because I can't find the right words.</td>
        <td><input type="radio" name="KIMS22" value="1"></td>
        <td><input type="radio" name="KIMS22" value="2"></td>
        <td><input type="radio" name="KIMS22" value="3"></td>
        <td><input type="radio" name="KIMS22" value="4"></td>
        <td><input type="radio" name="KIMS22" value="5"></td>
    </tr>
    <tr>
        <td align=left>I don't pay attention to what I'm doing because I'm daydreaming, worrying, or otherwise distracted.</td>
        <td><input type="radio" name="KIMS23" value="1"></td>
        <td><input type="radio" name="KIMS23" value="2"></td>
        <td><input type="radio" name="KIMS23" value="3"></td>
        <td><input type="radio" name="KIMS23" value="4"></td>
        <td><input type="radio" name="KIMS23" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tend to make judgements about how worthwhile or worthless my experiences are.</td>
        <td><input type="radio" name="KIMS24" value="1"></td>
        <td><input type="radio" name="KIMS24" value="2"></td>
        <td><input type="radio" name="KIMS24" value="3"></td>
        <td><input type="radio" name="KIMS24" value="4"></td>
        <td><input type="radio" name="KIMS24" value="5"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to sounds, such as clocks ticking, birds chirping, or cars passing.</td>
        <td><input type="radio" name="KIMS25" value="1"></td>
        <td><input type="radio" name="KIMS25" value="2"></td>
        <td><input type="radio" name="KIMS25" value="3"></td>
        <td><input type="radio" name="KIMS25" value="4"></td>
        <td><input type="radio" name="KIMS25" value="5"></td>
    </tr>
    <tr>
        <td align=left>Even when I'm feeling terribly upset, I can find a way to put it into words.</td>
        <td><input type="radio" name="KIMS26" value="1"></td>
        <td><input type="radio" name="KIMS26" value="2"></td>
        <td><input type="radio" name="KIMS26" value="3"></td>
        <td><input type="radio" name="KIMS26" value="4"></td>
        <td><input type="radio" name="KIMS26" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I'm doing chores, such as cleaning or laundry, I tend to daydream or think of other things.</td>
        <td><input type="radio" name="KIMS27" value="1"></td>
        <td><input type="radio" name="KIMS27" value="2"></td>
        <td><input type="radio" name="KIMS27" value="3"></td>
        <td><input type="radio" name="KIMS27" value="4"></td>
        <td><input type="radio" name="KIMS27" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tell myself that I shouldn't be thinking the way I'm thinking.</td>
        <td><input type="radio" name="KIMS28" value="1"></td>
        <td><input type="radio" name="KIMS28" value="2"></td>
        <td><input type="radio" name="KIMS28" value="3"></td>
        <td><input type="radio" name="KIMS28" value="4"></td>
        <td><input type="radio" name="KIMS28" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice the smells and aromas of things.</td>
        <td><input type="radio" name="KIMS29" value="1"></td>
        <td><input type="radio" name="KIMS29" value="2"></td>
        <td><input type="radio" name="KIMS29" value="3"></td>
        <td><input type="radio" name="KIMS29" value="4"></td>
        <td><input type="radio" name="KIMS29" value="5"></td>
    </tr>
    <tr>
        <td align=left>I intentionally stay aware of my feelings.</td>
        <td><input type="radio" name="KIMS30" value="1"></td>
        <td><input type="radio" name="KIMS30" value="2"></td>
        <td><input type="radio" name="KIMS30" value="3"></td>
        <td><input type="radio" name="KIMS30" value="4"></td>
        <td><input type="radio" name="KIMS30" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tend to do several things at once rather than focusing on one thing at a time.</td>
        <td><input type="radio" name="KIMS31" value="1"></td>
        <td><input type="radio" name="KIMS31" value="2"></td>
        <td><input type="radio" name="KIMS31" value="3"></td>
        <td><input type="radio" name="KIMS31" value="4"></td>
        <td><input type="radio" name="KIMS31" value="5"></td>
    </tr>
    <tr>
        <td align=left>I think some of my emotions are bad or inappropriate and I shouldn't feel them.</td>
        <td><input type="radio" name="KIMS32" value="1"></td>
        <td><input type="radio" name="KIMS32" value="2"></td>
        <td><input type="radio" name="KIMS32" value="3"></td>
        <td><input type="radio" name="KIMS32" value="4"></td>
        <td><input type="radio" name="KIMS32" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice visual elements in art or nature, such as colors, shapes, textures, or patterns of light and shadow.</td>
        <td><input type="radio" name="KIMS33" value="1"></td>
        <td><input type="radio" name="KIMS33" value="2"></td>
        <td><input type="radio" name="KIMS33" value="3"></td>
        <td><input type="radio" name="KIMS33" value="4"></td>
        <td><input type="radio" name="KIMS33" value="5"></td>
    </tr>
    <tr>
        <td align=left>My natural tendency is to put my experiences into words.</td>
        <td><input type="radio" name="KIMS34" value="1"></td>
        <td><input type="radio" name="KIMS34" value="2"></td>
        <td><input type="radio" name="KIMS34" value="3"></td>
        <td><input type="radio" name="KIMS34" value="4"></td>
        <td><input type="radio" name="KIMS34" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I'm working on something, part of my mind is occupied with other topics, such as what I'll be doing later, or things I'd rather be doing.</td>
        <td><input type="radio" name="KIMS35" value="1"></td>
        <td><input type="radio" name="KIMS35" value="2"></td>
        <td><input type="radio" name="KIMS35" value="3"></td>
        <td><input type="radio" name="KIMS35" value="4"></td>
        <td><input type="radio" name="KIMS35" value="5"></td>
    </tr>
    <tr>
        <td align=left>I disapprove of myself when I have irrational ideas.</td>
        <td><input type="radio" name="KIMS36" value="1"></td>
        <td><input type="radio" name="KIMS36" value="2"></td>
        <td><input type="radio" name="KIMS36" value="3"></td>
        <td><input type="radio" name="KIMS36" value="4"></td>
        <td><input type="radio" name="KIMS36" value="5"></td>
    </tr>
    <tr>
        <td align=left>I pay attention to how my emotions affect my thoughts and behavior.</td>
        <td><input type="radio" name="KIMS37" value="1"></td>
        <td><input type="radio" name="KIMS37" value="2"></td>
        <td><input type="radio" name="KIMS37" value="3"></td>
        <td><input type="radio" name="KIMS37" value="4"></td>
        <td><input type="radio" name="KIMS37" value="5"></td>
    </tr>
    <tr>
        <td align=left>I get completely absorbed in what I'm doing, so that all my attention is focused on it.</td>
        <td><input type="radio" name="KIMS38" value="1"></td>
        <td><input type="radio" name="KIMS38" value="2"></td>
        <td><input type="radio" name="KIMS38" value="3"></td>
        <td><input type="radio" name="KIMS38" value="4"></td>
        <td><input type="radio" name="KIMS38" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice when my moods begin to change.</td>
        <td><input type="radio" name="KIMS39" value="1"></td>
        <td><input type="radio" name="KIMS39" value="2"></td>
        <td><input type="radio" name="KIMS39" value="3"></td>
        <td><input type="radio" name="KIMS39" value="4"></td>
        <td><input type="radio" name="KIMS39" value="5"></td>
    </tr>
</table>