<h3><center>Mindfulness Attention Awareness Scale</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Almost<br>never</th>
        <th>Very<br>infrequently</th>
        <th>Somewhat<br>infrequently</th>
        <th>Somewhat<br>frequently</th>
        <th>Very<br>frequently</th>
        <th>Almost<br>always</th>
    </tr>
    <tr>
        <td align=left>I could be experiencing some emotion and not be conscious of it until some time later.</td>
        <td><input type="radio" name="MAAS01" value="1"></td>
        <td><input type="radio" name="MAAS01" value="2"></td>
        <td><input type="radio" name="MAAS01" value="3"></td>
        <td><input type="radio" name="MAAS01" value="4"></td>
        <td><input type="radio" name="MAAS01" value="5"></td>
        <td><input type="radio" name="MAAS01" value="6"></td>
    </tr>
    <tr>
        <td align=left>I break or spill things because of carelessness, not paying attention, or thinking of something else.</td>
        <td><input type="radio" name="MAAS02" value="1"></td>
        <td><input type="radio" name="MAAS02" value="2"></td>
        <td><input type="radio" name="MAAS02" value="3"></td>
        <td><input type="radio" name="MAAS02" value="4"></td>
        <td><input type="radio" name="MAAS02" value="5"></td>
        <td><input type="radio" name="MAAS02" value="6"></td>
    </tr>
    <tr>
        <td align=left>I find it difficult to stay focused on what's happening in the present.</td>
        <td><input type="radio" name="MAAS03" value="1"></td>
        <td><input type="radio" name="MAAS03" value="2"></td>
        <td><input type="radio" name="MAAS03" value="3"></td>
        <td><input type="radio" name="MAAS03" value="4"></td>
        <td><input type="radio" name="MAAS03" value="5"></td>
        <td><input type="radio" name="MAAS03" value="6"></td>
    </tr>
    <tr>
        <td align=left>I tend to walk quickly to get where I'm going without paying attention to what I experience along the way.</td>
        <td><input type="radio" name="MAAS04" value="1"></td>
        <td><input type="radio" name="MAAS04" value="2"></td>
        <td><input type="radio" name="MAAS04" value="3"></td>
        <td><input type="radio" name="MAAS04" value="4"></td>
        <td><input type="radio" name="MAAS04" value="5"></td>
        <td><input type="radio" name="MAAS04" value="6"></td>
    </tr>
    <tr>
        <td align=left>I tend not to notice feelings of physical tension or discomfort until they really grab my attention.</td>
        <td><input type="radio" name="MAAS05" value="1"></td>
        <td><input type="radio" name="MAAS05" value="2"></td>
        <td><input type="radio" name="MAAS05" value="3"></td>
        <td><input type="radio" name="MAAS05" value="4"></td>
        <td><input type="radio" name="MAAS05" value="5"></td>
        <td><input type="radio" name="MAAS05" value="6"></td>
    </tr>
    <tr>
        <td align=left>I forget a person's name almost as soon as I've been told it for the first time.</td>
        <td><input type="radio" name="MAAS06" value="1"></td>
        <td><input type="radio" name="MAAS06" value="2"></td>
        <td><input type="radio" name="MAAS06" value="3"></td>
        <td><input type="radio" name="MAAS06" value="4"></td>
        <td><input type="radio" name="MAAS06" value="5"></td>
        <td><input type="radio" name="MAAS06" value="6"></td>
    </tr>
    <tr>
        <td align=left>It seems I am "running on automatic," without much awareness of what I'm doing.</td>
        <td><input type="radio" name="MAAS07" value="1"></td>
        <td><input type="radio" name="MAAS07" value="2"></td>
        <td><input type="radio" name="MAAS07" value="3"></td>
        <td><input type="radio" name="MAAS07" value="4"></td>
        <td><input type="radio" name="MAAS07" value="5"></td>
        <td><input type="radio" name="MAAS07" value="6"></td>
    </tr>
    <tr>
        <td align=left>I rush through activities without being really attentive to them.</td>
        <td><input type="radio" name="MAAS08" value="1"></td>
        <td><input type="radio" name="MAAS08" value="2"></td>
        <td><input type="radio" name="MAAS08" value="3"></td>
        <td><input type="radio" name="MAAS08" value="4"></td>
        <td><input type="radio" name="MAAS08" value="5"></td>
        <td><input type="radio" name="MAAS08" value="6"></td>
    </tr>
    <tr>
        <td align=left>I get so focused on the goal I want to achieve that I lose touch with what I'm doing right now to get there.</td>
        <td><input type="radio" name="MAAS09" value="1"></td>
        <td><input type="radio" name="MAAS09" value="2"></td>
        <td><input type="radio" name="MAAS09" value="3"></td>
        <td><input type="radio" name="MAAS09" value="4"></td>
        <td><input type="radio" name="MAAS09" value="5"></td>
        <td><input type="radio" name="MAAS09" value="6"></td>
    </tr>
    <tr>
        <td align=left>I do jobs or tasks automatically, without being aware of what I'm doing.</td>
        <td><input type="radio" name="MAAS10" value="1"></td>
        <td><input type="radio" name="MAAS10" value="2"></td>
        <td><input type="radio" name="MAAS10" value="3"></td>
        <td><input type="radio" name="MAAS10" value="4"></td>
        <td><input type="radio" name="MAAS10" value="5"></td>
        <td><input type="radio" name="MAAS10" value="6"></td>
    </tr>
    <tr>
        <td align=left>I find myself listening to someone with one ear, doing
something else at the same time.</td>
        <td><input type="radio" name="MAAS11" value="1"></td>
        <td><input type="radio" name="MAAS11" value="2"></td>
        <td><input type="radio" name="MAAS11" value="3"></td>
        <td><input type="radio" name="MAAS11" value="4"></td>
        <td><input type="radio" name="MAAS11" value="5"></td>
        <td><input type="radio" name="MAAS11" value="6"></td>
    </tr>
    <tr>
        <td align=left>I drive places on 'automatic pilot' and then wonder why I went there.</td>
        <td><input type="radio" name="MAAS12" value="1"></td>
        <td><input type="radio" name="MAAS12" value="2"></td>
        <td><input type="radio" name="MAAS12" value="3"></td>
        <td><input type="radio" name="MAAS12" value="4"></td>
        <td><input type="radio" name="MAAS12" value="5"></td>
        <td><input type="radio" name="MAAS12" value="6"></td>
    </tr>
    <tr>
        <td align=left>I find myself preoccupied with the future or the past.</td>
        <td><input type="radio" name="MAAS13" value="1"></td>
        <td><input type="radio" name="MAAS13" value="2"></td>
        <td><input type="radio" name="MAAS13" value="3"></td>
        <td><input type="radio" name="MAAS13" value="4"></td>
        <td><input type="radio" name="MAAS13" value="5"></td>
        <td><input type="radio" name="MAAS13" value="6"></td>
    </tr>
    <tr>
        <td align=left>I find myself doing things without paying attention.</td>
        <td><input type="radio" name="MAAS14" value="1"></td>
        <td><input type="radio" name="MAAS14" value="2"></td>
        <td><input type="radio" name="MAAS14" value="3"></td>
        <td><input type="radio" name="MAAS14" value="4"></td>
        <td><input type="radio" name="MAAS14" value="5"></td>
        <td><input type="radio" name="MAAS14" value="6"></td>
    </tr>
    <tr>
        <td align=left>I snack without being aware that I'm eating.</td>
        <td><input type="radio" name="MAAS15" value="1"></td>
        <td><input type="radio" name="MAAS15" value="2"></td>
        <td><input type="radio" name="MAAS15" value="3"></td>
        <td><input type="radio" name="MAAS15" value="4"></td>
        <td><input type="radio" name="MAAS15" value="5"></td>
        <td><input type="radio" name="MAAS15" value="6"></td>
    </tr>
</table>