<h3><center>Philadelphia Mindfulness Scale</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Never</th>
        <th>Rarely</th>
        <th>Sometimes</th>
        <th>Often</th>
        <th>Very often</th>
    </tr>
    <tr>
        <td align=left>I am aware of what thoughts are passing through my mind.</td>
        <td><input type="radio" name="PHLMS01" value="1"></td>
        <td><input type="radio" name="PHLMS01" value="2"></td>
        <td><input type="radio" name="PHLMS01" value="3"></td>
        <td><input type="radio" name="PHLMS01" value="4"></td>
        <td><input type="radio" name="PHLMS01" value="5"></td>
    </tr>
    <tr>
        <td align=left>I try to distract myself when I feel unpleasant emotions.</td>
        <td><input type="radio" name="PHLMS02" value="1"></td>
        <td><input type="radio" name="PHLMS02" value="2"></td>
        <td><input type="radio" name="PHLMS02" value="3"></td>
        <td><input type="radio" name="PHLMS02" value="4"></td>
        <td><input type="radio" name="PHLMS02" value="5"></td>
    </tr>
    <tr>
        <td align=left>When talking with other people, I am aware of their facial and body expressions.</td>
        <td><input type="radio" name="PHLMS03" value="1"></td>
        <td><input type="radio" name="PHLMS03" value="2"></td>
        <td><input type="radio" name="PHLMS03" value="3"></td>
        <td><input type="radio" name="PHLMS03" value="4"></td>
        <td><input type="radio" name="PHLMS03" value="5"></td>
    </tr>
    <tr>
        <td align=left>There are aspects of myself I don't want to think about.</td>
        <td><input type="radio" name="PHLMS04" value="1"></td>
        <td><input type="radio" name="PHLMS04" value="2"></td>
        <td><input type="radio" name="PHLMS04" value="3"></td>
        <td><input type="radio" name="PHLMS04" value="4"></td>
        <td><input type="radio" name="PHLMS04" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I shower, I am aware of how the water is running over my body.</td>
        <td><input type="radio" name="PHLMS05" value="1"></td>
        <td><input type="radio" name="PHLMS05" value="2"></td>
        <td><input type="radio" name="PHLMS05" value="3"></td>
        <td><input type="radio" name="PHLMS05" value="4"></td>
        <td><input type="radio" name="PHLMS05" value="5"></td>
    </tr>
    <tr>
        <td align=left>I try to stay busy to keep thoughts or feelings from coming to mind.</td>
        <td><input type="radio" name="PHLMS06" value="1"></td>
        <td><input type="radio" name="PHLMS06" value="2"></td>
        <td><input type="radio" name="PHLMS06" value="3"></td>
        <td><input type="radio" name="PHLMS06" value="4"></td>
        <td><input type="radio" name="PHLMS06" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I am startled, I notice what is going on inside my body.</td>
        <td><input type="radio" name="PHLMS07" value="1"></td>
        <td><input type="radio" name="PHLMS07" value="2"></td>
        <td><input type="radio" name="PHLMS07" value="3"></td>
        <td><input type="radio" name="PHLMS07" value="4"></td>
        <td><input type="radio" name="PHLMS07" value="5"></td>
    </tr>
    <tr>
        <td align=left>I wish I could control my emotions more easily.</td>
        <td><input type="radio" name="PHLMS08" value="1"></td>
        <td><input type="radio" name="PHLMS08" value="2"></td>
        <td><input type="radio" name="PHLMS08" value="3"></td>
        <td><input type="radio" name="PHLMS08" value="4"></td>
        <td><input type="radio" name="PHLMS08" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I walk outside, I am aware of smells or how the air feels against my face.</td>
        <td><input type="radio" name="PHLMS09" value="1"></td>
        <td><input type="radio" name="PHLMS09" value="2"></td>
        <td><input type="radio" name="PHLMS09" value="3"></td>
        <td><input type="radio" name="PHLMS09" value="4"></td>
        <td><input type="radio" name="PHLMS09" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tell myself that I shoudn't have certain thoughts.</td>
        <td><input type="radio" name="PHLMS10" value="1"></td>
        <td><input type="radio" name="PHLMS10" value="2"></td>
        <td><input type="radio" name="PHLMS10" value="3"></td>
        <td><input type="radio" name="PHLMS10" value="4"></td>
        <td><input type="radio" name="PHLMS10" value="5"></td>
    </tr>
    <tr>
        <td align=left>When someone asks how I am feeling, I can identify my emotions easily.</td>
        <td><input type="radio" name="PHLMS11" value="1"></td>
        <td><input type="radio" name="PHLMS11" value="2"></td>
        <td><input type="radio" name="PHLMS11" value="3"></td>
        <td><input type="radio" name="PHLMS11" value="4"></td>
        <td><input type="radio" name="PHLMS11" value="5"></td>
    </tr>
    <tr>
        <td align=left>There are things I try not to think about.</td>
        <td><input type="radio" name="PHLMS12" value="1"></td>
        <td><input type="radio" name="PHLMS12" value="2"></td>
        <td><input type="radio" name="PHLMS12" value="3"></td>
        <td><input type="radio" name="PHLMS12" value="4"></td>
        <td><input type="radio" name="PHLMS12" value="5"></td>
    </tr>
    <tr>
        <td align=left>I am aware of thoughts I'm having when my mood changes.</td>
        <td><input type="radio" name="PHLMS13" value="1"></td>
        <td><input type="radio" name="PHLMS13" value="2"></td>
        <td><input type="radio" name="PHLMS13" value="3"></td>
        <td><input type="radio" name="PHLMS13" value="4"></td>
        <td><input type="radio" name="PHLMS13" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tell myself that I shouldn't feel sad.</td>
        <td><input type="radio" name="PHLMS14" value="1"></td>
        <td><input type="radio" name="PHLMS14" value="2"></td>
        <td><input type="radio" name="PHLMS14" value="3"></td>
        <td><input type="radio" name="PHLMS14" value="4"></td>
        <td><input type="radio" name="PHLMS14" value="5"></td>
    </tr>
    <tr>
        <td align=left>I notice changes inside my body, like my heart beating faster or my muscles getting tense.</td>
        <td><input type="radio" name="PHLMS15" value="1"></td>
        <td><input type="radio" name="PHLMS15" value="2"></td>
        <td><input type="radio" name="PHLMS15" value="3"></td>
        <td><input type="radio" name="PHLMS15" value="4"></td>
        <td><input type="radio" name="PHLMS15" value="5"></td>
    </tr>
    <tr>
        <td align=left>If there is something I don't want to think about, I'll try many things to get it out of my mind.</td>
        <td><input type="radio" name="PHLMS16" value="1"></td>
        <td><input type="radio" name="PHLMS16" value="2"></td>
        <td><input type="radio" name="PHLMS16" value="3"></td>
        <td><input type="radio" name="PHLMS16" value="4"></td>
        <td><input type="radio" name="PHLMS16" value="5"></td>
    </tr>
    <tr>
        <td align=left>Whenever my emotions change, I am conscious of them immediately.</td>
        <td><input type="radio" name="PHLMS17" value="1"></td>
        <td><input type="radio" name="PHLMS17" value="2"></td>
        <td><input type="radio" name="PHLMS17" value="3"></td>
        <td><input type="radio" name="PHLMS17" value="4"></td>
        <td><input type="radio" name="PHLMS17" value="5"></td>
    </tr>
    <tr>
        <td align=left>I try to put my problems out of mind.</td>
        <td><input type="radio" name="PHLMS18" value="1"></td>
        <td><input type="radio" name="PHLMS18" value="2"></td>
        <td><input type="radio" name="PHLMS18" value="3"></td>
        <td><input type="radio" name="PHLMS18" value="4"></td>
        <td><input type="radio" name="PHLMS18" value="5"></td>
    </tr>
    <tr>
        <td align=left>When talking with other peple, I am aware of the emotions I am experiencing.</td>
        <td><input type="radio" name="PHLMS19" value="1"></td>
        <td><input type="radio" name="PHLMS19" value="2"></td>
        <td><input type="radio" name="PHLMS19" value="3"></td>
        <td><input type="radio" name="PHLMS19" value="4"></td>
        <td><input type="radio" name="PHLMS19" value="5"></td>
    </tr>
    <tr>
        <td align=left>When I have a bad memory, I try to distract mydeslf to make it go away.</td>
        <td><input type="radio" name="PHLMS20" value="1"></td>
        <td><input type="radio" name="PHLMS20" value="2"></td>
        <td><input type="radio" name="PHLMS20" value="3"></td>
        <td><input type="radio" name="PHLMS20" value="4"></td>
        <td><input type="radio" name="PHLMS20" value="5"></td>
    </tr>
</table>