<h3><center>Mindfulness Attention Awareness Scale</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Not at all</th>
        <th></th>
        <th></th>
        <th>Somewhat</th>
        <th></th>
        <th></th>
        <th>Very much</th>
    </tr>
    <tr>
        <td align=left>I was finding it difficult to stay focused on what was happening.</td>
        <td><input type="radio" name="SMAAS01" value="0"></td>
        <td><input type="radio" name="SMAAS01" value="1"></td>
        <td><input type="radio" name="SMAAS01" value="2"></td>
        <td><input type="radio" name="SMAAS01" value="3"></td>
        <td><input type="radio" name="SMAAS01" value="4"></td>
        <td><input type="radio" name="SMAAS01" value="5"></td>
        <td><input type="radio" name="SMAAS01" value="6"></td>
    </tr>
    <tr>
        <td align=left>I was doing something without paying attention.</td>
        <td><input type="radio" name="SMAAS02" value="0"></td>
        <td><input type="radio" name="SMAAS02" value="1"></td>
        <td><input type="radio" name="SMAAS02" value="2"></td>
        <td><input type="radio" name="SMAAS02" value="3"></td>
        <td><input type="radio" name="SMAAS02" value="4"></td>
        <td><input type="radio" name="SMAAS02" value="5"></td>
        <td><input type="radio" name="SMAAS02" value="6"></td>
    </tr>
    <tr>
        <td align=left>I was preoccupied with the future or the past.</td>
        <td><input type="radio" name="SMAAS03" value="0"></td>
        <td><input type="radio" name="SMAAS03" value="1"></td>
        <td><input type="radio" name="SMAAS03" value="2"></td>
        <td><input type="radio" name="SMAAS03" value="3"></td>
        <td><input type="radio" name="SMAAS03" value="4"></td>
        <td><input type="radio" name="SMAAS03" value="5"></td>
        <td><input type="radio" name="SMAAS03" value="6"></td>
    </tr>
    <tr>
        <td align=left>I was doing something automatically, without being aware of what I was doing.</td>
        <td><input type="radio" name="SMAAS04" value="0"></td>
        <td><input type="radio" name="SMAAS04" value="1"></td>
        <td><input type="radio" name="SMAAS04" value="2"></td>
        <td><input type="radio" name="SMAAS04" value="3"></td>
        <td><input type="radio" name="SMAAS04" value="4"></td>
        <td><input type="radio" name="SMAAS04" value="5"></td>
        <td><input type="radio" name="SMAAS04" value="6"></td>
    </tr>
    <tr>
        <td align=left>I was rushing through something without being really attentive to it.</td>
        <td><input type="radio" name="SMAAS05" value="0"></td>
        <td><input type="radio" name="SMAAS05" value="1"></td>
        <td><input type="radio" name="SMAAS05" value="2"></td>
        <td><input type="radio" name="SMAAS05" value="3"></td>
        <td><input type="radio" name="SMAAS05" value="4"></td>
        <td><input type="radio" name="SMAAS05" value="5"></td>
        <td><input type="radio" name="SMAAS05" value="6"></td>
    </tr>
</table>