<h3><center>State Mindfulness Scale</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Not at all</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Very well</th>
    </tr>
    <tr>
        <td align=left>I was aware of different emotions that arose in me.</td>
        <td><input type="radio" name="SMS01" value="1"></td>
        <td><input type="radio" name="SMS01" value="2"></td>
        <td><input type="radio" name="SMS01" value="3"></td>
        <td><input type="radio" name="SMS01" value="4"></td>
        <td><input type="radio" name="SMS01" value="5"></td>
    </tr>
    <tr>
        <td align=left>I tried to pay attention to pleasant and unpleasant sensations.</td>
        <td><input type="radio" name="SMS02" value="1"></td>
        <td><input type="radio" name="SMS02" value="2"></td>
        <td><input type="radio" name="SMS02" value="3"></td>
        <td><input type="radio" name="SMS02" value="4"></td>
        <td><input type="radio" name="SMS02" value="5"></td>
    </tr>
    <tr>
        <td align=left>I found some of my experiences interesting.</td>
        <td><input type="radio" name="SMS03" value="1"></td>
        <td><input type="radio" name="SMS03" value="2"></td>
        <td><input type="radio" name="SMS03" value="3"></td>
        <td><input type="radio" name="SMS03" value="4"></td>
        <td><input type="radio" name="SMS03" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed many small details of my experience.</td>
        <td><input type="radio" name="SMS04" value="1"></td>
        <td><input type="radio" name="SMS04" value="2"></td>
        <td><input type="radio" name="SMS04" value="3"></td>
        <td><input type="radio" name="SMS04" value="4"></td>
        <td><input type="radio" name="SMS04" value="5"></td>
    </tr>
    <tr>
        <td align=left>I felt aware of what was happening inside of me.</td>
        <td><input type="radio" name="SMS05" value="1"></td>
        <td><input type="radio" name="SMS05" value="2"></td>
        <td><input type="radio" name="SMS05" value="3"></td>
        <td><input type="radio" name="SMS05" value="4"></td>
        <td><input type="radio" name="SMS05" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed various sounds (e.g., sounds in the room, sound of my own breathing).</td>
        <td><input type="radio" name="SMS06" value="1"></td>
        <td><input type="radio" name="SMS06" value="2"></td>
        <td><input type="radio" name="SMS06" value="3"></td>
        <td><input type="radio" name="SMS06" value="4"></td>
        <td><input type="radio" name="SMS06" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed pleasant and unpleasant emotions.</td>
        <td><input type="radio" name="SMS07" value="1"></td>
        <td><input type="radio" name="SMS07" value="2"></td>
        <td><input type="radio" name="SMS07" value="3"></td>
        <td><input type="radio" name="SMS07" value="4"></td>
        <td><input type="radio" name="SMS07" value="5"></td>
    </tr>
    <tr>
        <td align=left>I actively explored my experience in the moment.</td>
        <td><input type="radio" name="SMS08" value="1"></td>
        <td><input type="radio" name="SMS08" value="2"></td>
        <td><input type="radio" name="SMS08" value="3"></td>
        <td><input type="radio" name="SMS08" value="4"></td>
        <td><input type="radio" name="SMS08" value="5"></td>
    </tr>
    <tr>
        <td align=left>I clearly physically felt what was going on in my body.</td>
        <td><input type="radio" name="SMS09" value="1"></td>
        <td><input type="radio" name="SMS09" value="2"></td>
        <td><input type="radio" name="SMS09" value="3"></td>
        <td><input type="radio" name="SMS09" value="4"></td>
        <td><input type="radio" name="SMS09" value="5"></td>
    </tr>
    <tr>
        <td align=left>I changed my body posture and paid attention to the physical process of moving.</td>
        <td><input type="radio" name="SMS10" value="1"></td>
        <td><input type="radio" name="SMS10" value="2"></td>
        <td><input type="radio" name="SMS10" value="3"></td>
        <td><input type="radio" name="SMS10" value="4"></td>
        <td><input type="radio" name="SMS10" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed a thought that came into my mind and then that it passed.</td>
        <td><input type="radio" name="SMS11" value="1"></td>
        <td><input type="radio" name="SMS11" value="2"></td>
        <td><input type="radio" name="SMS11" value="3"></td>
        <td><input type="radio" name="SMS11" value="4"></td>
        <td><input type="radio" name="SMS11" value="5"></td>
    </tr>
    <tr>
        <td align=left>I felt that I was experiencing the present moment fully.</td>
        <td><input type="radio" name="SMS12" value="1"></td>
        <td><input type="radio" name="SMS12" value="2"></td>
        <td><input type="radio" name="SMS12" value="3"></td>
        <td><input type="radio" name="SMS12" value="4"></td>
        <td><input type="radio" name="SMS12" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed pleasant and unpleasant thoughts.</td>
        <td><input type="radio" name="SMS13" value="1"></td>
        <td><input type="radio" name="SMS13" value="2"></td>
        <td><input type="radio" name="SMS13" value="3"></td>
        <td><input type="radio" name="SMS13" value="4"></td>
        <td><input type="radio" name="SMS13" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed emotions come and go.</td>
        <td><input type="radio" name="SMS14" value="1"></td>
        <td><input type="radio" name="SMS14" value="2"></td>
        <td><input type="radio" name="SMS14" value="3"></td>
        <td><input type="radio" name="SMS14" value="4"></td>
        <td><input type="radio" name="SMS14" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed various sensations caused by my surroundings (e.g., heat, coolness, the wind on my face).</td>
        <td><input type="radio" name="SMS15" value="1"></td>
        <td><input type="radio" name="SMS15" value="2"></td>
        <td><input type="radio" name="SMS15" value="3"></td>
        <td><input type="radio" name="SMS15" value="4"></td>
        <td><input type="radio" name="SMS15" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed physical sensations come and go.</td>
        <td><input type="radio" name="SMS16" value="1"></td>
        <td><input type="radio" name="SMS16" value="2"></td>
        <td><input type="radio" name="SMS16" value="3"></td>
        <td><input type="radio" name="SMS16" value="4"></td>
        <td><input type="radio" name="SMS16" value="5"></td>
    </tr>
    <tr>
        <td align=left>I had moments when I felt alert and aware.</td>
        <td><input type="radio" name="SMS17" value="1"></td>
        <td><input type="radio" name="SMS17" value="2"></td>
        <td><input type="radio" name="SMS17" value="3"></td>
        <td><input type="radio" name="SMS17" value="4"></td>
        <td><input type="radio" name="SMS17" value="5"></td>
    </tr>
    <tr>
        <td align=left>I felt closely connected to the present moment.</td>
        <td><input type="radio" name="SMS18" value="1"></td>
        <td><input type="radio" name="SMS18" value="2"></td>
        <td><input type="radio" name="SMS18" value="3"></td>
        <td><input type="radio" name="SMS18" value="4"></td>
        <td><input type="radio" name="SMS18" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed thoughts come and go.</td>
        <td><input type="radio" name="SMS19" value="1"></td>
        <td><input type="radio" name="SMS19" value="2"></td>
        <td><input type="radio" name="SMS19" value="3"></td>
        <td><input type="radio" name="SMS19" value="4"></td>
        <td><input type="radio" name="SMS19" value="5"></td>
    </tr>
    <tr>
        <td align=left>I felt in contact with my body.</td>
        <td><input type="radio" name="SMS20" value="1"></td>
        <td><input type="radio" name="SMS20" value="2"></td>
        <td><input type="radio" name="SMS20" value="3"></td>
        <td><input type="radio" name="SMS20" value="4"></td>
        <td><input type="radio" name="SMS20" value="5"></td>
    </tr>
    <tr>
        <td align=left>I was aware of what was going on in my mind.</td>
        <td><input type="radio" name="SMS21" value="1"></td>
        <td><input type="radio" name="SMS21" value="2"></td>
        <td><input type="radio" name="SMS21" value="3"></td>
        <td><input type="radio" name="SMS21" value="4"></td>
        <td><input type="radio" name="SMS21" value="5"></td>
    </tr>
    <tr>
        <td align=left>It was interesting to see the patterns of my thinking.</td>
        <td><input type="radio" name="SMS22" value="1"></td>
        <td><input type="radio" name="SMS22" value="2"></td>
        <td><input type="radio" name="SMS22" value="3"></td>
        <td><input type="radio" name="SMS22" value="4"></td>
        <td><input type="radio" name="SMS22" value="5"></td>
    </tr>
    <tr>
        <td align=left>I noticed some pleasant and unpleasant physical sensations.</td>
        <td><input type="radio" name="SMS23" value="1"></td>
        <td><input type="radio" name="SMS23" value="2"></td>
        <td><input type="radio" name="SMS23" value="3"></td>
        <td><input type="radio" name="SMS23" value="4"></td>
        <td><input type="radio" name="SMS23" value="5"></td>
    </tr>
</table>