<h3><center>Toronto Mindfulness Scale</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Not at all</th>
        <th>A little</th>
        <th>Moderately</th>
        <th>Quite a bit</th>
        <th>Very much</th>
    </tr>
    <tr>
        <td align=left>I experienced myself as separate from my changing thoughts and feelings.</td>
        <td><input type="radio" name="TMS01" value="0"></td>
        <td><input type="radio" name="TMS01" value="1"></td>
        <td><input type="radio" name="TMS01" value="2"></td>
        <td><input type="radio" name="TMS01" value="3"></td>
        <td><input type="radio" name="TMS01" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was more concerned with being open to my experiences than controlling or changing them.</td>
        <td><input type="radio" name="TMS02" value="0"></td>
        <td><input type="radio" name="TMS02" value="1"></td>
        <td><input type="radio" name="TMS02" value="2"></td>
        <td><input type="radio" name="TMS02" value="3"></td>
        <td><input type="radio" name="TMS02" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was curious about what I might learn about myself by taking notice of how I react to certain thoughts, feelings or sensations.</td>
        <td><input type="radio" name="TMS03" value="0"></td>
        <td><input type="radio" name="TMS03" value="1"></td>
        <td><input type="radio" name="TMS03" value="2"></td>
        <td><input type="radio" name="TMS03" value="3"></td>
        <td><input type="radio" name="TMS03" value="4"></td>
    </tr>
    <tr>
        <td align=left>I experienced my thoughts more as events in my mind than as a necessarily accurate reflection of the way things 'really' are.</td>
        <td><input type="radio" name="TMS04" value="0"></td>
        <td><input type="radio" name="TMS04" value="1"></td>
        <td><input type="radio" name="TMS04" value="2"></td>
        <td><input type="radio" name="TMS04" value="3"></td>
        <td><input type="radio" name="TMS04" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was curious to see what my mind was up to from moment to moment.</td>
        <td><input type="radio" name="TMS05" value="0"></td>
        <td><input type="radio" name="TMS05" value="1"></td>
        <td><input type="radio" name="TMS05" value="2"></td>
        <td><input type="radio" name="TMS05" value="3"></td>
        <td><input type="radio" name="TMS05" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was curious about each of the thoughts and feelings that I was having.</td>
        <td><input type="radio" name="TMS06" value="0"></td>
        <td><input type="radio" name="TMS06" value="1"></td>
        <td><input type="radio" name="TMS06" value="2"></td>
        <td><input type="radio" name="TMS06" value="3"></td>
        <td><input type="radio" name="TMS06" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was receptive to observing unpleasant thoughts and feelings without interfering with them.</td>
        <td><input type="radio" name="TMS07" value="0"></td>
        <td><input type="radio" name="TMS07" value="1"></td>
        <td><input type="radio" name="TMS07" value="2"></td>
        <td><input type="radio" name="TMS07" value="3"></td>
        <td><input type="radio" name="TMS07" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was more invested in just watching my experiences as they arose, than in figuring out what they could mean.</td>
        <td><input type="radio" name="TMS08" value="0"></td>
        <td><input type="radio" name="TMS08" value="1"></td>
        <td><input type="radio" name="TMS08" value="2"></td>
        <td><input type="radio" name="TMS08" value="3"></td>
        <td><input type="radio" name="TMS08" value="4"></td>
    </tr>
    <tr>
        <td align=left>I approached each experience by trying to accept it, no matter whether it was pleasant or unpleasant.</td>
        <td><input type="radio" name="TMS09" value="0"></td>
        <td><input type="radio" name="TMS09" value="1"></td>
        <td><input type="radio" name="TMS09" value="2"></td>
        <td><input type="radio" name="TMS09" value="3"></td>
        <td><input type="radio" name="TMS09" value="4"></td>
    </tr>
    <tr>
        <td align=left>I remained curious about the nature of each experience as it arose.</td>
        <td><input type="radio" name="TMS10" value="0"></td>
        <td><input type="radio" name="TMS10" value="1"></td>
        <td><input type="radio" name="TMS10" value="2"></td>
        <td><input type="radio" name="TMS10" value="3"></td>
        <td><input type="radio" name="TMS10" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was aware of my thoughts and feelings without overidentifying with them.</td>
        <td><input type="radio" name="TMS11" value="0"></td>
        <td><input type="radio" name="TMS11" value="1"></td>
        <td><input type="radio" name="TMS11" value="2"></td>
        <td><input type="radio" name="TMS11" value="3"></td>
        <td><input type="radio" name="TMS11" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was curious about my reactions to things.</td>
        <td><input type="radio" name="TMS12" value="0"></td>
        <td><input type="radio" name="TMS12" value="1"></td>
        <td><input type="radio" name="TMS12" value="2"></td>
        <td><input type="radio" name="TMS12" value="3"></td>
        <td><input type="radio" name="TMS12" value="4"></td>
    </tr>
    <tr>
        <td align=left>I was curious about what I might learn about myself by just taking notice of what my attention gets drawn to.</td>
        <td><input type="radio" name="TMS13" value="0"></td>
        <td><input type="radio" name="TMS13" value="1"></td>
        <td><input type="radio" name="TMS13" value="2"></td>
        <td><input type="radio" name="TMS13" value="3"></td>
        <td><input type="radio" name="TMS13" value="4"></td>
    </tr>
</table>