<h3><center>Untitled (Wang Subjective Report Measures)</center></h3>

<table>
    <tr>
        <th width=50%></th>
        <th>Less</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Typical</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>More</th>
    </tr>
    <tr>
        <td align=left>How stressed are you?</td>
        <td><input type="radio" name="WSRM01" value="1"></td>
        <td><input type="radio" name="WSRM01" value="2"></td>
        <td><input type="radio" name="WSRM01" value="3"></td>
        <td><input type="radio" name="WSRM01" value="4"></td>
        <td><input type="radio" name="WSRM01" value="5"></td>
        <td><input type="radio" name="WSRM01" value="6"></td>
        <td><input type="radio" name="WSRM01" value="7"></td>
        <td><input type="radio" name="WSRM01" value="8"></td>
        <td><input type="radio" name="WSRM01" value="9"></td>
        <td><input type="radio" name="WSRM01" value="10"></td>
    </tr>
        <td align=left>How deep was your meditation?</td>
        <td><input type="radio" name="WSRM02" value="1"></td>
        <td><input type="radio" name="WSRM02" value="2"></td>
        <td><input type="radio" name="WSRM02" value="3"></td>
        <td><input type="radio" name="WSRM02" value="4"></td>
        <td><input type="radio" name="WSRM02" value="5"></td>
        <td><input type="radio" name="WSRM02" value="6"></td>
        <td><input type="radio" name="WSRM02" value="7"></td>
        <td><input type="radio" name="WSRM02" value="8"></td>
        <td><input type="radio" name="WSRM02" value="9"></td>
        <td><input type="radio" name="WSRM02" value="10"></td>
    </tr>
        <td align=left>How "connected" do you feel?</td>
        <td><input type="radio" name="WSRM03" value="1"></td>
        <td><input type="radio" name="WSRM03" value="2"></td>
        <td><input type="radio" name="WSRM03" value="3"></td>
        <td><input type="radio" name="WSRM03" value="4"></td>
        <td><input type="radio" name="WSRM03" value="5"></td>
        <td><input type="radio" name="WSRM03" value="6"></td>
        <td><input type="radio" name="WSRM03" value="7"></td>
        <td><input type="radio" name="WSRM03" value="8"></td>
        <td><input type="radio" name="WSRM03" value="9"></td>
        <td><input type="radio" name="WSRM03" value="10"></td>
    </tr>
</table>